set_location asd.current_time_RNI17HH[2] 2 14 2 # SB_LUT4 (LogicCell: asd.current_time_RNI17HH[2]_LC_0)
set_location asd.current_time_RNIA9RB1[5] 2 13 0 # SB_LUT4 (LogicCell: asd.current_time_RNIA9RB1[5]_LC_1)
set_location asd.current_time_RNIF9FV7[0] 2 13 6 # SB_LUT4 (LogicCell: asd.current_time_RNIF9FV7[0]_LC_2)
set_location asd.current_time_RNO[0] 2 12 0 # SB_LUT4 (LogicCell: asd.current_time[0]_LC_3)
set_location asd.current_time[0] 2 12 0 # SB_DFFSR (LogicCell: asd.current_time[0]_LC_3)
set_location asd.current_time_RNO_0[4] 2 14 3 # SB_LUT4 (LogicCell: asd.current_time_RNO_0[4]_LC_4)
set_location asd.current_time_RNO_0[5] 2 14 0 # SB_LUT4 (LogicCell: asd.current_time_RNO_0[5]_LC_5)
set_location asd.current_time_RNO[1] 2 13 7 # SB_LUT4 (LogicCell: asd.current_time[1]_LC_6)
set_location asd.current_time[1] 2 13 7 # SB_DFFSR (LogicCell: asd.current_time[1]_LC_6)
set_location asd.current_time_RNO[2] 2 14 1 # SB_LUT4 (LogicCell: asd.current_time[2]_LC_7)
set_location asd.current_time[2] 2 14 1 # SB_DFFSR (LogicCell: asd.current_time[2]_LC_7)
set_location asd.current_time_RNO[3] 2 13 4 # SB_LUT4 (LogicCell: asd.current_time[3]_LC_8)
set_location asd.current_time[3] 2 13 4 # SB_DFFSR (LogicCell: asd.current_time[3]_LC_8)
set_location asd.current_time_RNO[4] 2 13 2 # SB_LUT4 (LogicCell: asd.current_time[4]_LC_9)
set_location asd.current_time[4] 2 13 2 # SB_DFFSR (LogicCell: asd.current_time[4]_LC_9)
set_location asd.current_time_RNO[5] 2 13 5 # SB_LUT4 (LogicCell: asd.current_time[5]_LC_10)
set_location asd.current_time[5] 2 13 5 # SB_DFFSR (LogicCell: asd.current_time[5]_LC_10)
set_location asd.current_time_RNO[6] 2 13 1 # SB_LUT4 (LogicCell: asd.current_time[6]_LC_11)
set_location asd.current_time[6] 2 13 1 # SB_DFFSR (LogicCell: asd.current_time[6]_LC_11)
set_location asd.current_time_RNO[7] 2 13 3 # SB_LUT4 (LogicCell: asd.current_time[7]_LC_12)
set_location asd.current_time[7] 2 13 3 # SB_DFFSR (LogicCell: asd.current_time[7]_LC_12)
set_location asd.r_disp1_2_6_0_.m10 1 12 7 # SB_LUT4 (LogicCell: asd.r_disp1_i[1]_LC_13)
set_location asd.r_disp1_i[1] 1 12 7 # SB_DFF (LogicCell: asd.r_disp1_i[1]_LC_13)
set_location asd.r_disp1_2_6_0_.m14 4 16 1 # SB_LUT4 (LogicCell: asd.r_disp1_i[2]_LC_14)
set_location asd.r_disp1_i[2] 4 16 1 # SB_DFF (LogicCell: asd.r_disp1_i[2]_LC_14)
set_location asd.r_disp1_2_6_0_.m26 2 16 4 # SB_LUT4 (LogicCell: asd.r_disp1_i[6]_LC_15)
set_location asd.r_disp1_i[6] 2 16 4 # SB_DFF (LogicCell: asd.r_disp1_i[6]_LC_15)
set_location asd.r_disp1_2_6_0_.m5 4 16 5 # SB_LUT4 (LogicCell: asd.r_disp1_i[0]_LC_16)
set_location asd.r_disp1_i[0] 4 16 5 # SB_DFF (LogicCell: asd.r_disp1_i[0]_LC_16)
set_location asd.r_disp1_2_6_0_.r_disp1_2_i[3] 4 16 4 # SB_LUT4 (LogicCell: asd.r_disp1_i[3]_LC_17)
set_location asd.r_disp1_i[3] 4 16 4 # SB_DFF (LogicCell: asd.r_disp1_i[3]_LC_17)
set_location asd.r_disp1_2_6_0_.r_disp1_2_i[4] 2 16 3 # SB_LUT4 (LogicCell: asd.r_disp1_i[4]_LC_18)
set_location asd.r_disp1_i[4] 2 16 3 # SB_DFF (LogicCell: asd.r_disp1_i[4]_LC_18)
set_location asd.r_disp1_2_6_0_.r_disp1_2_i[5] 2 16 0 # SB_LUT4 (LogicCell: asd.r_disp1_i[5]_LC_19)
set_location asd.r_disp1_i[5] 2 16 0 # SB_DFF (LogicCell: asd.r_disp1_i[5]_LC_19)
set_location asd.r_disp2_2_6_0_.m10 4 14 5 # SB_LUT4 (LogicCell: asd.r_disp2_i[1]_LC_20)
set_location asd.r_disp2_i[1] 4 14 5 # SB_DFF (LogicCell: asd.r_disp2_i[1]_LC_20)
set_location asd.r_disp2_2_6_0_.m14 5 16 0 # SB_LUT4 (LogicCell: asd.r_disp2_i[2]_LC_21)
set_location asd.r_disp2_i[2] 5 16 0 # SB_DFF (LogicCell: asd.r_disp2_i[2]_LC_21)
set_location asd.r_disp2_2_6_0_.m26 2 16 1 # SB_LUT4 (LogicCell: asd.r_disp2_i[6]_LC_22)
set_location asd.r_disp2_i[6] 2 16 1 # SB_DFF (LogicCell: asd.r_disp2_i[6]_LC_22)
set_location asd.r_disp2_2_6_0_.m5 2 16 2 # SB_LUT4 (LogicCell: asd.r_disp2_i[0]_LC_23)
set_location asd.r_disp2_i[0] 2 16 2 # SB_DFF (LogicCell: asd.r_disp2_i[0]_LC_23)
set_location asd.r_disp2_2_6_0_.r_disp2_2_i[3] 5 16 3 # SB_LUT4 (LogicCell: asd.r_disp2_i[3]_LC_24)
set_location asd.r_disp2_i[3] 5 16 3 # SB_DFF (LogicCell: asd.r_disp2_i[3]_LC_24)
set_location asd.r_disp2_2_6_0_.r_disp2_2_i[4] 5 16 2 # SB_LUT4 (LogicCell: asd.r_disp2_i[4]_LC_25)
set_location asd.r_disp2_i[4] 5 16 2 # SB_DFF (LogicCell: asd.r_disp2_i[4]_LC_25)
set_location asd.r_disp2_2_6_0_.r_disp2_2_i[5] 2 16 5 # SB_LUT4 (LogicCell: asd.r_disp2_i[5]_LC_26)
set_location asd.r_disp2_i[5] 2 16 5 # SB_DFF (LogicCell: asd.r_disp2_i[5]_LC_26)
set_location asd.timer_RNI5C6E1[15] 2 14 6 # SB_LUT4 (LogicCell: asd.timer_RNI5C6E1[15]_LC_27)
set_location asd.timer_RNI6AMT4[11] 2 14 5 # SB_LUT4 (LogicCell: asd.timer_RNI6AMT4[11]_LC_28)
set_location asd.timer_RNIBJ341[24] 2 16 6 # SB_LUT4 (LogicCell: asd.timer_RNIBJ341[24]_LC_29)
set_location asd.timer_RNIC8QA1[17] 2 16 7 # SB_LUT4 (LogicCell: asd.timer_RNIC8QA1[17]_LC_30)
set_location asd.timer_RNIRAC71[11] 2 14 4 # SB_LUT4 (LogicCell: asd.timer_RNIRAC71[11]_LC_31)
set_location asd.timer_RNIRVV31[14] 2 14 7 # SB_LUT4 (LogicCell: asd.timer_RNIRVV31[14]_LC_32)
set_location asd.timer_RNIU46E1[10] 1 13 0 # SB_LUT4 (LogicCell: asd.timer_RNIU46E1[10]_LC_33)
set_location asd.timer_RNO[0] 1 13 1 # SB_LUT4 (LogicCell: asd.timer[0]_LC_34)
set_location asd.timer[0] 1 13 1 # SB_DFFSR (LogicCell: asd.timer[0]_LC_34)
set_location asd.timer_RNO_0[1] 2 15 1 # SB_LUT4 (LogicCell: asd.timer_RNO_0[1]_LC_35)
set_location asd.timer_RNO_0[11] 1 15 2 # SB_LUT4 (LogicCell: asd.timer_RNO_0[11]_LC_36)
set_location asd.un5_timer_cry_11_c 1 15 2 # SB_CARRY (LogicCell: asd.timer_RNO_0[11]_LC_36)
set_location asd.timer_RNO_0[12] 1 15 3 # SB_LUT4 (LogicCell: asd.timer_RNO_0[12]_LC_37)
set_location asd.un5_timer_cry_12_c 1 15 3 # SB_CARRY (LogicCell: asd.timer_RNO_0[12]_LC_37)
set_location asd.timer_RNO_0[13] 1 15 4 # SB_LUT4 (LogicCell: asd.timer_RNO_0[13]_LC_38)
set_location asd.un5_timer_cry_13_c 1 15 4 # SB_CARRY (LogicCell: asd.timer_RNO_0[13]_LC_38)
set_location asd.timer_RNO_0[14] 1 15 5 # SB_LUT4 (LogicCell: asd.timer_RNO_0[14]_LC_39)
set_location asd.un5_timer_cry_14_c 1 15 5 # SB_CARRY (LogicCell: asd.timer_RNO_0[14]_LC_39)
set_location asd.timer_RNO_0[16] 1 15 7 # SB_LUT4 (LogicCell: asd.timer_RNO_0[16]_LC_40)
set_location asd.un5_timer_cry_16_c 1 15 7 # SB_CARRY (LogicCell: asd.timer_RNO_0[16]_LC_40)
set_location asd.timer_RNO_0[18] 1 16 1 # SB_LUT4 (LogicCell: asd.timer_RNO_0[18]_LC_41)
set_location asd.un5_timer_cry_18_c 1 16 1 # SB_CARRY (LogicCell: asd.timer_RNO_0[18]_LC_41)
set_location asd.timer_RNO_0[19] 1 16 2 # SB_LUT4 (LogicCell: asd.timer_RNO_0[19]_LC_42)
set_location asd.un5_timer_cry_19_c 1 16 2 # SB_CARRY (LogicCell: asd.timer_RNO_0[19]_LC_42)
set_location asd.timer_RNO_0[20] 1 16 3 # SB_LUT4 (LogicCell: asd.timer_RNO_0[20]_LC_43)
set_location asd.un5_timer_cry_20_c 1 16 3 # SB_CARRY (LogicCell: asd.timer_RNO_0[20]_LC_43)
set_location asd.timer_RNO_0[21] 1 16 4 # SB_LUT4 (LogicCell: asd.timer_RNO_0[21]_LC_44)
set_location asd.un5_timer_cry_21_c 1 16 4 # SB_CARRY (LogicCell: asd.timer_RNO_0[21]_LC_44)
set_location asd.timer_RNO_0[22] 1 16 5 # SB_LUT4 (LogicCell: asd.timer_RNO_0[22]_LC_45)
set_location asd.un5_timer_cry_22_c 1 16 5 # SB_CARRY (LogicCell: asd.timer_RNO_0[22]_LC_45)
set_location asd.timer_RNO_0[24] 1 16 7 # SB_LUT4 (LogicCell: asd.timer_RNO_0[24]_LC_46)
set_location asd.timer_RNO_0[6] 1 14 5 # SB_LUT4 (LogicCell: asd.timer_RNO_0[6]_LC_47)
set_location asd.un5_timer_cry_6_c 1 14 5 # SB_CARRY (LogicCell: asd.timer_RNO_0[6]_LC_47)
set_location asd.timer_RNO[1] 2 15 2 # SB_LUT4 (LogicCell: asd.timer[1]_LC_48)
set_location asd.timer[1] 2 15 2 # SB_DFFSR (LogicCell: asd.timer[1]_LC_48)
set_location asd.timer_RNO[10] 1 15 1 # SB_LUT4 (LogicCell: asd.timer[10]_LC_49)
set_location asd.timer[10] 1 15 1 # SB_DFFSR (LogicCell: asd.timer[10]_LC_49)
set_location asd.un5_timer_cry_10_c 1 15 1 # SB_CARRY (LogicCell: asd.timer[10]_LC_49)
set_location asd.timer_RNO[11] 1 13 2 # SB_LUT4 (LogicCell: asd.timer[11]_LC_50)
set_location asd.timer[11] 1 13 2 # SB_DFFSR (LogicCell: asd.timer[11]_LC_50)
set_location asd.timer_RNO[12] 1 13 3 # SB_LUT4 (LogicCell: asd.timer[12]_LC_51)
set_location asd.timer[12] 1 13 3 # SB_DFFSR (LogicCell: asd.timer[12]_LC_51)
set_location asd.timer_RNO[13] 1 13 4 # SB_LUT4 (LogicCell: asd.timer[13]_LC_52)
set_location asd.timer[13] 1 13 4 # SB_DFFSR (LogicCell: asd.timer[13]_LC_52)
set_location asd.timer_RNO[14] 1 13 5 # SB_LUT4 (LogicCell: asd.timer[14]_LC_53)
set_location asd.timer[14] 1 13 5 # SB_DFFSR (LogicCell: asd.timer[14]_LC_53)
set_location asd.timer_RNO[15] 1 15 6 # SB_LUT4 (LogicCell: asd.timer[15]_LC_54)
set_location asd.timer[15] 1 15 6 # SB_DFFSR (LogicCell: asd.timer[15]_LC_54)
set_location asd.un5_timer_cry_15_c 1 15 6 # SB_CARRY (LogicCell: asd.timer[15]_LC_54)
set_location asd.timer_RNO[16] 1 13 6 # SB_LUT4 (LogicCell: asd.timer[16]_LC_55)
set_location asd.timer[16] 1 13 6 # SB_DFFSR (LogicCell: asd.timer[16]_LC_55)
set_location asd.timer_RNO[17] 1 16 0 # SB_LUT4 (LogicCell: asd.timer[17]_LC_56)
set_location asd.timer[17] 1 16 0 # SB_DFFSR (LogicCell: asd.timer[17]_LC_56)
set_location asd.un5_timer_cry_17_c 1 16 0 # SB_CARRY (LogicCell: asd.timer[17]_LC_56)
set_location asd.timer_RNO[18] 1 13 7 # SB_LUT4 (LogicCell: asd.timer[18]_LC_57)
set_location asd.timer[18] 1 13 7 # SB_DFFSR (LogicCell: asd.timer[18]_LC_57)
set_location asd.timer_RNO[19] 2 15 0 # SB_LUT4 (LogicCell: asd.timer[19]_LC_58)
set_location asd.timer[19] 2 15 0 # SB_DFFSR (LogicCell: asd.timer[19]_LC_58)
set_location asd.timer_RNO[2] 1 14 1 # SB_LUT4 (LogicCell: asd.timer[2]_LC_59)
set_location asd.timer[2] 1 14 1 # SB_DFFSR (LogicCell: asd.timer[2]_LC_59)
set_location asd.un5_timer_cry_2_c 1 14 1 # SB_CARRY (LogicCell: asd.timer[2]_LC_59)
set_location asd.timer_RNO[20] 2 15 3 # SB_LUT4 (LogicCell: asd.timer[20]_LC_60)
set_location asd.timer[20] 2 15 3 # SB_DFFSR (LogicCell: asd.timer[20]_LC_60)
set_location asd.timer_RNO[21] 2 15 4 # SB_LUT4 (LogicCell: asd.timer[21]_LC_61)
set_location asd.timer[21] 2 15 4 # SB_DFFSR (LogicCell: asd.timer[21]_LC_61)
set_location asd.timer_RNO[22] 2 15 5 # SB_LUT4 (LogicCell: asd.timer[22]_LC_62)
set_location asd.timer[22] 2 15 5 # SB_DFFSR (LogicCell: asd.timer[22]_LC_62)
set_location asd.timer_RNO[23] 1 16 6 # SB_LUT4 (LogicCell: asd.timer[23]_LC_63)
set_location asd.timer[23] 1 16 6 # SB_DFFSR (LogicCell: asd.timer[23]_LC_63)
set_location asd.un5_timer_cry_23_c 1 16 6 # SB_CARRY (LogicCell: asd.timer[23]_LC_63)
set_location asd.timer_RNO[24] 2 15 6 # SB_LUT4 (LogicCell: asd.timer[24]_LC_64)
set_location asd.timer[24] 2 15 6 # SB_DFFSR (LogicCell: asd.timer[24]_LC_64)
set_location asd.timer_RNO[3] 1 14 2 # SB_LUT4 (LogicCell: asd.timer[3]_LC_65)
set_location asd.timer[3] 1 14 2 # SB_DFFSR (LogicCell: asd.timer[3]_LC_65)
set_location asd.un5_timer_cry_3_c 1 14 2 # SB_CARRY (LogicCell: asd.timer[3]_LC_65)
set_location asd.timer_RNO[4] 1 14 3 # SB_LUT4 (LogicCell: asd.timer[4]_LC_66)
set_location asd.timer[4] 1 14 3 # SB_DFFSR (LogicCell: asd.timer[4]_LC_66)
set_location asd.un5_timer_cry_4_c 1 14 3 # SB_CARRY (LogicCell: asd.timer[4]_LC_66)
set_location asd.timer_RNO[5] 1 14 4 # SB_LUT4 (LogicCell: asd.timer[5]_LC_67)
set_location asd.timer[5] 1 14 4 # SB_DFFSR (LogicCell: asd.timer[5]_LC_67)
set_location asd.un5_timer_cry_5_c 1 14 4 # SB_CARRY (LogicCell: asd.timer[5]_LC_67)
set_location asd.timer_RNO[6] 2 15 7 # SB_LUT4 (LogicCell: asd.timer[6]_LC_68)
set_location asd.timer[6] 2 15 7 # SB_DFFSR (LogicCell: asd.timer[6]_LC_68)
set_location asd.timer_RNO[7] 1 14 6 # SB_LUT4 (LogicCell: asd.timer[7]_LC_69)
set_location asd.timer[7] 1 14 6 # SB_DFFSR (LogicCell: asd.timer[7]_LC_69)
set_location asd.un5_timer_cry_7_c 1 14 6 # SB_CARRY (LogicCell: asd.timer[7]_LC_69)
set_location asd.timer_RNO[8] 1 14 7 # SB_LUT4 (LogicCell: asd.timer[8]_LC_70)
set_location asd.timer[8] 1 14 7 # SB_DFFSR (LogicCell: asd.timer[8]_LC_70)
set_location asd.un5_timer_cry_8_c 1 14 7 # SB_CARRY (LogicCell: asd.timer[8]_LC_70)
set_location asd.timer_RNO[9] 1 15 0 # SB_LUT4 (LogicCell: asd.timer[9]_LC_71)
set_location asd.timer[9] 1 15 0 # SB_DFFSR (LogicCell: asd.timer[9]_LC_71)
set_location asd.un5_timer_cry_9_c 1 15 0 # SB_CARRY (LogicCell: asd.timer[9]_LC_71)
set_location asd.un5_timer_cry_1_c 1 14 0 # SB_CARRY (LogicCell: asd.un5_timer_cry_1_c_LC_72)
set_location GND -1 -1 -1 # GND
set_io asd.N_100_g_gb 0 8 1 # ICE_GB
set_io i_Clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io i_Switch_1_ibuf 13 4 1 # ICE_IO
set_io i_Switch_2_ibuf 13 3 1 # ICE_IO
set_io i_Switch_3_ibuf 13 6 0 # ICE_IO
set_io i_Switch_4_ibuf 13 4 0 # ICE_IO
set_io o_LED_1_obuf 13 6 1 # ICE_IO
set_io o_LED_2_obuf 13 7 0 # ICE_IO
set_io o_LED_3_obuf 13 7 1 # ICE_IO
set_io o_LED_4_obuf 13 8 0 # ICE_IO
set_io o_Segment1_A_obuf 0 13 1 # ICE_IO
set_io o_Segment1_B_obuf 0 13 0 # ICE_IO
set_io o_Segment1_C_obuf 5 17 1 # ICE_IO
set_io o_Segment1_D_obuf 6 17 0 # ICE_IO
set_io o_Segment1_E_obuf 6 17 1 # ICE_IO
set_io o_Segment1_F_obuf 0 14 1 # ICE_IO
set_io o_Segment1_G_obuf 0 14 0 # ICE_IO
set_io o_Segment2_A_obuf 1 17 1 # ICE_IO
set_io o_Segment2_B_obuf 2 17 1 # ICE_IO
set_io o_Segment2_C_obuf 3 17 1 # ICE_IO
set_io o_Segment2_D_obuf 4 17 1 # ICE_IO
set_io o_Segment2_E_obuf 5 17 0 # ICE_IO
set_io o_Segment2_F_obuf 0 12 0 # ICE_IO
set_io o_Segment2_G_obuf 4 17 0 # ICE_IO
