set_location IN_MUX_bfv_6_9_0_ 6 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_12_0_ 2 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_13_0_ 2 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_10_0_ 1 10 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 4 10 7 #SB_LUT4
set_location uart_tx.r_data_8_THRU_LUT4_0 4 11 0 #SB_LUT4
set_location uart_tx.r_data_7_THRU_LUT4_0 5 13 3 #SB_LUT4
set_location uart_tx.r_data_6_THRU_LUT4_0 5 13 2 #SB_LUT4
set_location uart_tx.r_data_5_THRU_LUT4_0 4 11 4 #SB_LUT4
set_location uart_tx.r_data_4_THRU_LUT4_0 4 12 4 #SB_LUT4
set_location uart_tx.r_data_3_THRU_LUT4_0 5 13 1 #SB_LUT4
set_location uart_tx.r_data_2_THRU_LUT4_0 5 13 0 #SB_LUT4
set_location uart_tx.r_data_1_THRU_LUT4_0 4 12 3 #SB_LUT4
set_location uart_tx.r_data_0_THRU_LUT4_0 4 11 5 #SB_LUT4
set_location uart_rx.out_data_7_THRU_LUT4_0 2 15 0 #SB_LUT4
set_location uart_rx.out_data_6_THRU_LUT4_0 2 15 1 #SB_LUT4
set_location uart_rx.out_data_5_THRU_LUT4_0 5 14 4 #SB_LUT4
set_location uart_rx.out_data_4_THRU_LUT4_0 2 15 6 #SB_LUT4
set_location uart_rx.out_data_3_THRU_LUT4_0 2 15 4 #SB_LUT4
set_location uart_rx.out_data_2_THRU_LUT4_0 1 15 6 #SB_LUT4
set_location uart_rx.out_data_1_THRU_LUT4_0 2 15 2 #SB_LUT4
set_location uart_rx.out_data_0_THRU_LUT4_0 1 15 7 #SB_LUT4
set_location r_uart_char_ess_3_THRU_LUT4_0 4 14 7 #SB_LUT4
set_location r_uart_char_esr_7_THRU_LUT4_0 4 14 6 #SB_LUT4
set_location r_uart_char_esr_6_THRU_LUT4_0 4 14 5 #SB_LUT4
set_location r_uart_char_esr_5_THRU_LUT4_0 4 14 4 #SB_LUT4
set_location r_uart_char_esr_4_THRU_LUT4_0 4 14 3 #SB_LUT4
set_location r_uart_char_esr_2_THRU_LUT4_0 4 14 2 #SB_LUT4
set_location r_uart_char_esr_1_THRU_LUT4_0 4 14 1 #SB_LUT4
set_location r_uart_char_esr_0_THRU_LUT4_0 4 14 0 #SB_LUT4
set_location uart_rx_tvalid 5 10 7 #SB_DFF
set_location seven_seg.r_disp1_i[0] 4 15 1 #SB_DFF
set_location uart_tx.un1_counter_5_cry_5_c 6 9 5 #SB_CARRY
set_location uart_rx.timer_RNIOEPH[0] 1 13 0 #SB_LUT4
set_location uart_rx.timer[4] 2 12 4 #SB_DFFSR
set_location uart_rx.state[5] 1 11 7 #SB_DFF
set_location uart_tx.state_RNIT28M[0] 5 9 2 #SB_LUT4
set_location uart_tx.counter_RNI6M34_0[1] 5 9 7 #SB_LUT4
set_location uart_rx.index_RNO[0] 1 10 0 #SB_LUT4
set_location uart_tx.state_RNO[1] 5 9 4 #SB_LUT4
set_location uart_tx.counter_RNO[4] 6 9 4 #SB_LUT4
set_location uart_rx.state_RNO_0[2] 1 12 4 #SB_LUT4
set_location uart_rx.r_data_RNO[6] 2 9 3 #SB_LUT4
set_location seven_seg.r_disp2_i[2] 5 15 1 #SB_DFF
set_location seven_seg.r_disp1_i[5] 2 16 2 #SB_DFF
set_location uart_tx.r_data[0] 4 11 5 #SB_DFFE
set_location uart_tx.counter[2] 6 9 2 #SB_DFFSR
set_location uart_rx.timer[3] 2 12 3 #SB_DFFSR
set_location uart_tx.state_RNICAH01[0] 5 10 6 #SB_LUT4
set_location uart_tx.index[0] 5 12 2 #SB_DFFSR
set_location r_uart_char_esr[4] 4 14 3 #SB_DFFESR
set_location uart_tx.index_RNO[0] 5 12 2 #SB_LUT4
set_location uart_tx.counter_RNO[1] 6 9 1 #SB_LUT4
set_location uart_rx.state_RNO[1] 1 13 5 #SB_LUT4
set_location uart_rx.index[2] 1 10 2 #SB_DFFSR
set_location seven_seg.r_disp2_i[5] 1 14 6 #SB_DFF
set_location seven_seg.r_disp1_2_6_0_.m5 4 15 1 #SB_LUT4
set_location uart_tx.r_data[7] 5 13 3 #SB_DFFE
set_location uart_tx.counter_RNI9DPM1[1] 5 9 1 #SB_LUT4
set_location uart_tx.counter[7] 6 9 7 #SB_DFFSR
set_location uart_tx.un1_counter_5_cry_6_c 6 9 6 #SB_CARRY
set_location uart_tx.out_data_RNO_4 5 12 4 #SB_LUT4
set_location uart_tx.counter_RNI5L34_0[9] 5 9 0 #SB_LUT4
set_location uart_tx.counter_RNI5L34[9] 5 10 0 #SB_LUT4
set_location uart_rx.timer_RNO[6] 2 12 6 #SB_LUT4
set_location uart_rx.state_RNO[4] 1 11 5 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.m10 1 14 2 #SB_LUT4
set_location uart_tx.un1_counter_5_cry_1_c 6 9 1 #SB_CARRY
set_location uart_rx.r_data[3] 2 9 2 #SB_DFFSR
set_location uart_rx.out_data[1] 2 15 2 #SB_DFFE
set_location uart_tx.state_RNIT28M_0[0] 5 10 2 #SB_LUT4
set_location uart_tx.out_data_RNO_3 4 12 2 #SB_LUT4
set_location uart_rx.un1_timer_cry_1_c 2 12 1 #SB_CARRY
set_location uart_tx.counter_RNI6M34[1] 5 10 3 #SB_LUT4
set_location uart_rx.timer_RNO[1] 2 12 1 #SB_LUT4
set_location uart_rx.state[0] 1 12 2 #SB_DFF
set_location uart_rx.r_data[6] 2 9 3 #SB_DFFSR
set_location seven_seg.r_disp1_2_6_0_.r_disp1_2_i[3] 4 15 3 #SB_LUT4
set_location uart_rx.un1_index_cry_2_c 1 10 2 #SB_CARRY
set_location uart_rx.r_data_RNO[5] 2 11 3 #SB_LUT4
set_location seven_seg.r_disp1_i[2] 4 15 4 #SB_DFF
set_location uart_tx.state[0] 5 9 6 #SB_DFF
set_location uart_rx.un1_timer_cry_3_c 2 12 3 #SB_CARRY
set_location uart_rx.timer[6] 2 12 6 #SB_DFFSR
set_location uart_rx.un1_timer_cry_4_c 2 12 4 #SB_CARRY
set_location uart_rx.index_RNO[2] 1 10 2 #SB_LUT4
set_location r_uart_char_esr[1] 4 14 1 #SB_DFFESR
set_location uart_tx.counter_RNO[2] 6 9 2 #SB_LUT4
set_location uart_rx.r_valid 2 14 5 #SB_DFF
set_location uart_rx.r_data_RNO[0] 1 10 5 #SB_LUT4
set_location seven_seg.r_disp2_i[0] 1 14 3 #SB_DFF
set_location uart_tx.r_data[2] 5 13 0 #SB_DFFE
set_location uart_tx.counter[4] 6 9 4 #SB_DFFSR
set_location uart_rx.r_data_RNO_0[5] 2 10 2 #SB_LUT4
set_location r_uart_char_ess[3] 4 14 7 #SB_DFFESS
set_location uart_tx.index[2] 5 12 3 #SB_DFFSR
set_location uart_tx.counter_RNI1V9O[4] 5 9 3 #SB_LUT4
set_location uart_rx.un1_timer_cry_5_c 2 12 5 #SB_CARRY
set_location uart_rx.index[0] 1 10 0 #SB_DFFSR
set_location uart_tx.counter[9] 6 10 1 #SB_DFFSR
set_location uart_rx.r_valid_RNO 2 14 5 #SB_LUT4
set_location uart_rx.out_data[4] 2 15 6 #SB_DFFE
set_location uart_rx.index_RNI8GO31[0] 2 10 4 #SB_LUT4
set_location uart_tx.un1_counter_5_cry_2_c 6 9 2 #SB_CARRY
set_location uart_tx.counter_RNO[8] 6 10 0 #SB_LUT4
set_location uart_rx.timer_RNO[4] 2 12 4 #SB_LUT4
set_location uart_rx.un1_timer_cry_7_c 2 12 7 #SB_CARRY
set_location uart_rx.r_data[1] 2 9 7 #SB_DFFSR
set_location uart_rx.out_data[3] 2 15 4 #SB_DFFE
set_location uart_rx.index_RNIA1FR[3] 1 9 6 #SB_LUT4
set_location uart_rx.timer[5] 2 12 5 #SB_DFFSR
set_location uart_rx.state[2] 1 12 5 #SB_DFF
set_location uart_rx.un1_timer_cry_0_c 2 12 0 #SB_CARRY
set_location uart_rx.state_RNIIKQG[6] 2 14 0 #SB_LUT4
set_location uart_rx.r_data[4] 2 9 4 #SB_DFFSR
set_location seven_seg.r_disp1_2_6_0_.r_disp1_2_i[5] 2 16 2 #SB_LUT4
set_location seven_seg.r_disp1_2_6_0_.m10 1 14 7 #SB_LUT4
set_location r_uart_char_esr[2] 4 14 2 #SB_DFFESR
set_location uart_tx.counter_RNO[7] 6 9 7 #SB_LUT4
set_location uart_rx.r_data_RNO[7] 2 11 1 #SB_LUT4
set_location seven_seg.r_disp2_i[3] 5 15 3 #SB_DFF
set_location seven_seg.r_disp1_i[4] 2 16 5 #SB_DFF
set_location uart_tx.r_data[1] 4 12 3 #SB_DFFE
set_location uart_tx.counter[1] 6 9 1 #SB_DFFSR
set_location uart_rx.timer[0] 2 12 0 #SB_DFFSR
set_location uart_tx.un1_counter_5_cry_7_c 6 9 7 #SB_CARRY
set_location uart_tx.counter_RNO[9] 6 10 1 #SB_LUT4
set_location uart_rx.timer_RNO[3] 2 12 3 #SB_LUT4
set_location uart_rx.timer_RNIUELT[0] 1 13 7 #SB_LUT4
set_location r_uart_char_esr[7] 4 14 6 #SB_DFFESR
set_location uart_tx.tready 6 11 7 #SB_DFF
set_location uart_tx.index_RNO[3] 5 11 0 #SB_LUT4
set_location uart_tx.counter_RNO[0] 6 9 0 #SB_LUT4
set_location uart_tx.counter_RNI6M34_1[1] 5 10 4 #SB_LUT4
set_location uart_rx.un1_timer_cry_2_c 2 12 2 #SB_CARRY
set_location uart_rx.state_RNO[2] 1 12 5 #SB_LUT4
set_location uart_rx.r_data_RNO[2] 1 10 4 #SB_LUT4
set_location uart_rx.r_data[0] 1 10 5 #SB_DFFSR
set_location uart_rx.out_data[2] 1 15 6 #SB_DFFE
set_location seven_seg.r_disp2_i[6] 1 14 4 #SB_DFF
set_location seven_seg.r_disp1_2_6_0_.m14 4 15 4 #SB_LUT4
set_location uart_tx.r_data[4] 4 12 4 #SB_DFFE
set_location uart_tx.counter[6] 6 9 6 #SB_DFFSR
set_location uart_rx.state_iso[0] 1 12 7 #SB_DFF
set_location seven_seg.r_disp2_2_6_0_.r_disp2_2_i[5] 1 14 6 #SB_LUT4
set_location uart_tx.out_data_RNO_5 4 12 1 #SB_LUT4
set_location uart_tx.counter_RNIAI56[4] 5 10 5 #SB_LUT4
set_location uart_rx.index_RNI8GO31_0[0] 2 10 6 #SB_LUT4
set_location uart_rx_tvalid_RNO 5 10 7 #SB_LUT4
set_location uart_rx.timer_RNO[7] 2 12 7 #SB_LUT4
set_location uart_rx.state_RNO[5] 1 11 7 #SB_LUT4
set_location uart_rx.state_RNITIMT1[1] 1 13 2 #SB_LUT4
set_location uart_rx.r_valid_RNI3IU7 2 14 7 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.m5 1 14 3 #SB_LUT4
set_location uart_tx.out_data 5 12 7 #SB_DFFSS
set_location uart_rx.out_data[6] 2 15 1 #SB_DFFE
set_location uart_tx.state_RNIBCLB1[1] 6 11 6 #SB_LUT4
set_location uart_tx.out_data_RNO_0 5 12 6 #SB_LUT4
set_location uart_rx.timer_RNO[2] 2 12 2 #SB_LUT4
set_location uart_rx.timer[8] 2 13 0 #SB_DFFSR
set_location uart_rx.state[1] 1 13 5 #SB_DFF
set_location uart_rx.state_RNO_1[2] 1 13 3 #SB_LUT4
set_location uart_rx.r_data[7] 2 11 1 #SB_DFFSR
set_location seven_seg.r_disp2_2_6_0_.m26 1 14 4 #SB_LUT4
set_location uart_tx.un1_counter_5_cry_3_c 6 9 3 #SB_CARRY
set_location uart_rx.timer_RNI1RRB[2] 1 12 0 #SB_LUT4
set_location seven_seg.r_disp1_i[1] 1 14 7 #SB_DFF
set_location uart_tx.state[1] 5 9 4 #SB_DFF
set_location uart_rx.timer[7] 2 12 7 #SB_DFFSR
set_location uart_rx.state[4] 1 11 5 #SB_DFF
set_location uart_rx.index_RNO[1] 1 10 1 #SB_LUT4
set_location uart_rx.index_RNII0UM1[3] 1 11 6 #SB_LUT4
set_location r_uart_char_esr[0] 4 14 0 #SB_DFFESR
set_location uart_tx.state_RNO[0] 5 9 6 #SB_LUT4
set_location uart_tx.counter_RNO[5] 6 9 5 #SB_LUT4
set_location uart_rx.un1_index_cry_0_c 1 10 0 #SB_CARRY
set_location uart_rx.state_RNO_0[3] 1 11 3 #SB_LUT4
set_location uart_rx.r_data_RNO[1] 2 9 7 #SB_LUT4
set_location seven_seg.r_disp2_i[1] 1 14 2 #SB_DFF
set_location seven_seg.r_disp1_i[6] 1 16 0 #SB_DFF
set_location seven_seg.r_disp1_2_6_0_.m26 1 16 0 #SB_LUT4
set_location uart_tx.r_data[3] 5 13 1 #SB_DFFE
set_location uart_tx.counter[3] 6 9 3 #SB_DFFSR
set_location uart_rx.timer[2] 2 12 2 #SB_DFFSR
set_location uart_tx.index[1] 5 11 1 #SB_DFFSR
set_location uart_rx.state_RNITUIG[2] 1 11 1 #SB_LUT4
set_location r_uart_char_esr[5] 4 14 4 #SB_DFFESR
set_location uart_tx.un1_counter_5_cry_8_c 6 10 0 #SB_CARRY
set_location uart_tx.index_RNO[1] 5 11 1 #SB_LUT4
set_location uart_rx.state_RNO[0] 1 12 2 #SB_LUT4
set_location uart_rx.index[3] 1 10 3 #SB_DFFSR
set_location seven_seg.r_disp2_i[4] 5 15 7 #SB_DFF
set_location seven_seg.r_disp2_2_6_0_.m14 5 15 1 #SB_LUT4
set_location uart_tx.r_data[6] 5 13 2 #SB_DFFE
set_location uart_tx.counter_RNI1V9O_0[4] 5 10 1 #SB_LUT4
set_location uart_tx.counter[8] 6 10 0 #SB_DFFSR
set_location uart_rx.timer_RNI60SB[8] 1 13 6 #SB_LUT4
set_location uart_rx.state_RNI1KSO[6] 1 12 1 #SB_LUT4
set_location uart_rx.out_data[5] 5 14 4 #SB_DFFE
set_location seven_seg.r_disp2_2_6_0_.r_disp2_2_i[3] 5 15 3 #SB_LUT4
set_location uart_rx.timer_RNI2MNN[2] 1 13 1 #SB_LUT4
set_location uart_rx.timer_RNO[5] 2 12 5 #SB_LUT4
set_location uart_rx.index_RNI8GO31_1[0] 1 9 2 #SB_LUT4
set_location uart_tx.un1_counter_5_cry_4_c 6 9 4 #SB_CARRY
set_location uart_rx.r_data[2] 1 10 4 #SB_DFFSR
set_location uart_rx.out_data[0] 1 15 7 #SB_DFFE
set_location uart_tx.out_data_RNO_2 5 12 5 #SB_LUT4
set_location uart_rx.timer_RNO[0] 2 12 0 #SB_LUT4
set_location uart_rx.state[3] 1 11 4 #SB_DFF
set_location uart_rx.r_data[5] 2 11 3 #SB_DFFSR
set_location seven_seg.r_disp1_2_6_0_.r_disp1_2_i[4] 2 16 5 #SB_LUT4
set_location uart_tx.counter_RNO[6] 6 9 6 #SB_LUT4
set_location uart_rx.state_iso_RNO[0] 1 12 7 #SB_LUT4
set_location uart_rx.state_RNO_0[4] 1 11 0 #SB_LUT4
set_location uart_rx.state_RNIGJ841[5] 1 11 2 #SB_LUT4
set_location uart_rx.r_data_RNO[4] 2 9 4 #SB_LUT4
set_location seven_seg.r_disp1_i[3] 4 15 3 #SB_DFF
set_location uart_tx.counter[0] 6 9 0 #SB_DFFSR
set_location uart_rx.timer[1] 2 12 1 #SB_DFFSR
set_location uart_rx.state_RNIQRIG[2] 2 11 6 #SB_LUT4
set_location uart_rx.state[6] 1 12 3 #SB_DFF
set_location uart_tx.tready_RNO 6 11 7 #SB_LUT4
set_location uart_rx.index_RNO[3] 1 10 3 #SB_LUT4
set_location r_uart_char_esr[6] 4 14 5 #SB_DFFESR
set_location uart_tx.state_RNI562Q[0] 5 11 2 #SB_LUT4
set_location uart_tx.index_RNO[2] 5 12 3 #SB_LUT4
set_location uart_tx.counter_RNO[3] 6 9 3 #SB_LUT4
set_location uart_rx.state_RNO[3] 1 11 4 #SB_LUT4
set_location uart_rx.state_RNO_0[1] 1 13 4 #SB_LUT4
set_location uart_rx.r_data_RNO[3] 2 9 2 #SB_LUT4
set_location uart_rx.index_RNIA1FR_0[3] 2 10 3 #SB_LUT4
set_location uart_tx.r_data[5] 4 11 4 #SB_DFFE
set_location uart_tx.counter[5] 6 9 5 #SB_DFFSR
set_location seven_seg.r_disp2_2_6_0_.r_disp2_2_i[4] 5 15 7 #SB_LUT4
set_location uart_tx.un1_counter_5_cry_0_c 6 9 0 #SB_CARRY
set_location uart_tx.state_RNO_1[0] 4 12 6 #SB_LUT4
set_location uart_tx.out_data_RNO 5 12 7 #SB_LUT4
set_location uart_tx.index[3] 5 11 0 #SB_DFFSR
set_location uart_rx.un1_index_cry_1_c 1 10 1 #SB_CARRY
set_location uart_rx.timer_RNO[8] 2 13 0 #SB_LUT4
set_location uart_rx.state_RNO[6] 1 12 3 #SB_LUT4
set_location uart_rx.state_RNISTIG[1] 1 12 6 #SB_LUT4
set_location uart_rx.index[1] 1 10 1 #SB_DFFSR
set_location uart_tx.state_RNO_0[0] 5 9 5 #SB_LUT4
set_location uart_tx.r_data[8] 4 11 0 #SB_DFFE
set_location uart_rx.un1_timer_cry_6_c 2 12 6 #SB_CARRY
set_location uart_rx.out_data[7] 2 15 0 #SB_DFFE
set_location uart_tx.out_data_RNO_1 2 11 7 #SB_LUT4
set_location uart_tx.index_RNIB641[1] 4 12 7 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_io o_Segment2_A 100
set_io o_Segment1_E 90
set_io o_UART_TX 74
set_io o_Segment2_D 95
set_io o_Segment1_F 1
set_io o_Segment1_B 4
set_io i_Clk 15
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io i_UART_RX 73
set_io i_Switch_1 53
set_io o_Segment2_F 8
set_io o_Segment2_B 99
set_io o_Segment1_D 91
set_io o_LED_1 56
set_io o_Segment2_E 94
set_io o_Segment1_A 3
