ble_pack uart_rx.index_RNI8GO31_1_0_LC_1_9_2 { uart_rx.index_RNI8GO31_1[0] }
ble_pack uart_rx.index_RNIA1FR_3_LC_1_9_6 { uart_rx.index_RNIA1FR[3] }
clb_pack LT_1_9 { uart_rx.index_RNI8GO31_1_0_LC_1_9_2, uart_rx.index_RNIA1FR_3_LC_1_9_6 }
set_location LT_1_9 1 9
ble_pack uart_rx.index_0_LC_1_10_0 { uart_rx.index_RNO[0], uart_rx.index[0], uart_rx.un1_index_cry_0_c }
ble_pack uart_rx.index_1_LC_1_10_1 { uart_rx.index_RNO[1], uart_rx.index[1], uart_rx.un1_index_cry_1_c }
ble_pack uart_rx.index_2_LC_1_10_2 { uart_rx.index_RNO[2], uart_rx.index[2], uart_rx.un1_index_cry_2_c }
ble_pack uart_rx.index_3_LC_1_10_3 { uart_rx.index_RNO[3], uart_rx.index[3] }
ble_pack uart_rx.r_data_2_LC_1_10_4 { uart_rx.r_data_RNO[2], uart_rx.r_data[2] }
ble_pack uart_rx.r_data_0_LC_1_10_5 { uart_rx.r_data_RNO[0], uart_rx.r_data[0] }
clb_pack LT_1_10 { uart_rx.index_0_LC_1_10_0, uart_rx.index_1_LC_1_10_1, uart_rx.index_2_LC_1_10_2, uart_rx.index_3_LC_1_10_3, uart_rx.r_data_2_LC_1_10_4, uart_rx.r_data_0_LC_1_10_5 }
set_location LT_1_10 1 10
ble_pack uart_rx.state_RNO_0_4_LC_1_11_0 { uart_rx.state_RNO_0[4] }
ble_pack uart_rx.state_RNITUIG_2_LC_1_11_1 { uart_rx.state_RNITUIG[2] }
ble_pack uart_rx.state_RNIGJ841_5_LC_1_11_2 { uart_rx.state_RNIGJ841[5] }
ble_pack uart_rx.state_RNO_0_3_LC_1_11_3 { uart_rx.state_RNO_0[3] }
ble_pack uart_rx.state_3_LC_1_11_4 { uart_rx.state_RNO[3], uart_rx.state[3] }
ble_pack uart_rx.state_4_LC_1_11_5 { uart_rx.state_RNO[4], uart_rx.state[4] }
ble_pack uart_rx.index_RNII0UM1_3_LC_1_11_6 { uart_rx.index_RNII0UM1[3] }
ble_pack uart_rx.state_5_LC_1_11_7 { uart_rx.state_RNO[5], uart_rx.state[5] }
clb_pack LT_1_11 { uart_rx.state_RNO_0_4_LC_1_11_0, uart_rx.state_RNITUIG_2_LC_1_11_1, uart_rx.state_RNIGJ841_5_LC_1_11_2, uart_rx.state_RNO_0_3_LC_1_11_3, uart_rx.state_3_LC_1_11_4, uart_rx.state_4_LC_1_11_5, uart_rx.index_RNII0UM1_3_LC_1_11_6, uart_rx.state_5_LC_1_11_7 }
set_location LT_1_11 1 11
ble_pack uart_rx.timer_RNI1RRB_2_LC_1_12_0 { uart_rx.timer_RNI1RRB[2] }
ble_pack uart_rx.state_RNI1KSO_6_LC_1_12_1 { uart_rx.state_RNI1KSO[6] }
ble_pack uart_rx.state_0_LC_1_12_2 { uart_rx.state_RNO[0], uart_rx.state[0] }
ble_pack uart_rx.state_6_LC_1_12_3 { uart_rx.state_RNO[6], uart_rx.state[6] }
ble_pack uart_rx.state_RNO_0_2_LC_1_12_4 { uart_rx.state_RNO_0[2] }
ble_pack uart_rx.state_2_LC_1_12_5 { uart_rx.state_RNO[2], uart_rx.state[2] }
ble_pack uart_rx.state_RNISTIG_1_LC_1_12_6 { uart_rx.state_RNISTIG[1] }
ble_pack uart_rx.state_iso_0_LC_1_12_7 { uart_rx.state_iso_RNO[0], uart_rx.state_iso[0] }
clb_pack LT_1_12 { uart_rx.timer_RNI1RRB_2_LC_1_12_0, uart_rx.state_RNI1KSO_6_LC_1_12_1, uart_rx.state_0_LC_1_12_2, uart_rx.state_6_LC_1_12_3, uart_rx.state_RNO_0_2_LC_1_12_4, uart_rx.state_2_LC_1_12_5, uart_rx.state_RNISTIG_1_LC_1_12_6, uart_rx.state_iso_0_LC_1_12_7 }
set_location LT_1_12 1 12
ble_pack uart_rx.timer_RNIOEPH_0_LC_1_13_0 { uart_rx.timer_RNIOEPH[0] }
ble_pack uart_rx.timer_RNI2MNN_2_LC_1_13_1 { uart_rx.timer_RNI2MNN[2] }
ble_pack uart_rx.state_RNITIMT1_1_LC_1_13_2 { uart_rx.state_RNITIMT1[1] }
ble_pack uart_rx.state_RNO_1_2_LC_1_13_3 { uart_rx.state_RNO_1[2] }
ble_pack uart_rx.state_RNO_0_1_LC_1_13_4 { uart_rx.state_RNO_0[1] }
ble_pack uart_rx.state_1_LC_1_13_5 { uart_rx.state_RNO[1], uart_rx.state[1] }
ble_pack uart_rx.timer_RNI60SB_8_LC_1_13_6 { uart_rx.timer_RNI60SB[8] }
ble_pack uart_rx.timer_RNIUELT_0_LC_1_13_7 { uart_rx.timer_RNIUELT[0] }
clb_pack LT_1_13 { uart_rx.timer_RNIOEPH_0_LC_1_13_0, uart_rx.timer_RNI2MNN_2_LC_1_13_1, uart_rx.state_RNITIMT1_1_LC_1_13_2, uart_rx.state_RNO_1_2_LC_1_13_3, uart_rx.state_RNO_0_1_LC_1_13_4, uart_rx.state_1_LC_1_13_5, uart_rx.timer_RNI60SB_8_LC_1_13_6, uart_rx.timer_RNIUELT_0_LC_1_13_7 }
set_location LT_1_13 1 13
ble_pack seven_seg.r_disp2_i_1_LC_1_14_2 { seven_seg.r_disp2_2_6_0_.m10, seven_seg.r_disp2_i[1] }
ble_pack seven_seg.r_disp2_i_0_LC_1_14_3 { seven_seg.r_disp2_2_6_0_.m5, seven_seg.r_disp2_i[0] }
ble_pack seven_seg.r_disp2_i_6_LC_1_14_4 { seven_seg.r_disp2_2_6_0_.m26, seven_seg.r_disp2_i[6] }
ble_pack seven_seg.r_disp2_i_5_LC_1_14_6 { seven_seg.r_disp2_2_6_0_.r_disp2_2_i[5], seven_seg.r_disp2_i[5] }
ble_pack seven_seg.r_disp1_i_1_LC_1_14_7 { seven_seg.r_disp1_2_6_0_.m10, seven_seg.r_disp1_i[1] }
clb_pack LT_1_14 { seven_seg.r_disp2_i_1_LC_1_14_2, seven_seg.r_disp2_i_0_LC_1_14_3, seven_seg.r_disp2_i_6_LC_1_14_4, seven_seg.r_disp2_i_5_LC_1_14_6, seven_seg.r_disp1_i_1_LC_1_14_7 }
set_location LT_1_14 1 14
ble_pack uart_rx.out_data_2_LC_1_15_6 { uart_rx.out_data_2_THRU_LUT4_0, uart_rx.out_data[2] }
ble_pack uart_rx.out_data_0_LC_1_15_7 { uart_rx.out_data_0_THRU_LUT4_0, uart_rx.out_data[0] }
clb_pack LT_1_15 { uart_rx.out_data_2_LC_1_15_6, uart_rx.out_data_0_LC_1_15_7 }
set_location LT_1_15 1 15
ble_pack seven_seg.r_disp1_i_6_LC_1_16_0 { seven_seg.r_disp1_2_6_0_.m26, seven_seg.r_disp1_i[6] }
clb_pack LT_1_16 { seven_seg.r_disp1_i_6_LC_1_16_0 }
set_location LT_1_16 1 16
ble_pack uart_rx.r_data_3_LC_2_9_2 { uart_rx.r_data_RNO[3], uart_rx.r_data[3] }
ble_pack uart_rx.r_data_6_LC_2_9_3 { uart_rx.r_data_RNO[6], uart_rx.r_data[6] }
ble_pack uart_rx.r_data_4_LC_2_9_4 { uart_rx.r_data_RNO[4], uart_rx.r_data[4] }
ble_pack uart_rx.r_data_1_LC_2_9_7 { uart_rx.r_data_RNO[1], uart_rx.r_data[1] }
clb_pack LT_2_9 { uart_rx.r_data_3_LC_2_9_2, uart_rx.r_data_6_LC_2_9_3, uart_rx.r_data_4_LC_2_9_4, uart_rx.r_data_1_LC_2_9_7 }
set_location LT_2_9 2 9
ble_pack uart_rx.r_data_RNO_0_5_LC_2_10_2 { uart_rx.r_data_RNO_0[5] }
ble_pack uart_rx.index_RNIA1FR_0_3_LC_2_10_3 { uart_rx.index_RNIA1FR_0[3] }
ble_pack uart_rx.index_RNI8GO31_0_LC_2_10_4 { uart_rx.index_RNI8GO31[0] }
ble_pack uart_rx.index_RNI8GO31_0_0_LC_2_10_6 { uart_rx.index_RNI8GO31_0[0] }
clb_pack LT_2_10 { uart_rx.r_data_RNO_0_5_LC_2_10_2, uart_rx.index_RNIA1FR_0_3_LC_2_10_3, uart_rx.index_RNI8GO31_0_LC_2_10_4, uart_rx.index_RNI8GO31_0_0_LC_2_10_6 }
set_location LT_2_10 2 10
ble_pack uart_rx.r_data_7_LC_2_11_1 { uart_rx.r_data_RNO[7], uart_rx.r_data[7] }
ble_pack uart_rx.r_data_5_LC_2_11_3 { uart_rx.r_data_RNO[5], uart_rx.r_data[5] }
ble_pack uart_rx.state_RNIQRIG_2_LC_2_11_6 { uart_rx.state_RNIQRIG[2] }
ble_pack uart_tx.out_data_RNO_1_LC_2_11_7 { uart_tx.out_data_RNO_1 }
clb_pack LT_2_11 { uart_rx.r_data_7_LC_2_11_1, uart_rx.r_data_5_LC_2_11_3, uart_rx.state_RNIQRIG_2_LC_2_11_6, uart_tx.out_data_RNO_1_LC_2_11_7 }
set_location LT_2_11 2 11
ble_pack uart_rx.timer_0_LC_2_12_0 { uart_rx.timer_RNO[0], uart_rx.timer[0], uart_rx.un1_timer_cry_0_c }
ble_pack uart_rx.timer_1_LC_2_12_1 { uart_rx.timer_RNO[1], uart_rx.timer[1], uart_rx.un1_timer_cry_1_c }
ble_pack uart_rx.timer_2_LC_2_12_2 { uart_rx.timer_RNO[2], uart_rx.timer[2], uart_rx.un1_timer_cry_2_c }
ble_pack uart_rx.timer_3_LC_2_12_3 { uart_rx.timer_RNO[3], uart_rx.timer[3], uart_rx.un1_timer_cry_3_c }
ble_pack uart_rx.timer_4_LC_2_12_4 { uart_rx.timer_RNO[4], uart_rx.timer[4], uart_rx.un1_timer_cry_4_c }
ble_pack uart_rx.timer_5_LC_2_12_5 { uart_rx.timer_RNO[5], uart_rx.timer[5], uart_rx.un1_timer_cry_5_c }
ble_pack uart_rx.timer_6_LC_2_12_6 { uart_rx.timer_RNO[6], uart_rx.timer[6], uart_rx.un1_timer_cry_6_c }
ble_pack uart_rx.timer_7_LC_2_12_7 { uart_rx.timer_RNO[7], uart_rx.timer[7], uart_rx.un1_timer_cry_7_c }
clb_pack LT_2_12 { uart_rx.timer_0_LC_2_12_0, uart_rx.timer_1_LC_2_12_1, uart_rx.timer_2_LC_2_12_2, uart_rx.timer_3_LC_2_12_3, uart_rx.timer_4_LC_2_12_4, uart_rx.timer_5_LC_2_12_5, uart_rx.timer_6_LC_2_12_6, uart_rx.timer_7_LC_2_12_7 }
set_location LT_2_12 2 12
ble_pack uart_rx.timer_8_LC_2_13_0 { uart_rx.timer_RNO[8], uart_rx.timer[8] }
clb_pack LT_2_13 { uart_rx.timer_8_LC_2_13_0 }
set_location LT_2_13 2 13
ble_pack uart_rx.state_RNIIKQG_6_LC_2_14_0 { uart_rx.state_RNIIKQG[6] }
ble_pack uart_rx.r_valid_LC_2_14_5 { uart_rx.r_valid_RNO, uart_rx.r_valid }
ble_pack uart_rx.r_valid_RNI3IU7_LC_2_14_7 { uart_rx.r_valid_RNI3IU7 }
clb_pack LT_2_14 { uart_rx.state_RNIIKQG_6_LC_2_14_0, uart_rx.r_valid_LC_2_14_5, uart_rx.r_valid_RNI3IU7_LC_2_14_7 }
set_location LT_2_14 2 14
ble_pack uart_rx.out_data_7_LC_2_15_0 { uart_rx.out_data_7_THRU_LUT4_0, uart_rx.out_data[7] }
ble_pack uart_rx.out_data_6_LC_2_15_1 { uart_rx.out_data_6_THRU_LUT4_0, uart_rx.out_data[6] }
ble_pack uart_rx.out_data_1_LC_2_15_2 { uart_rx.out_data_1_THRU_LUT4_0, uart_rx.out_data[1] }
ble_pack uart_rx.out_data_3_LC_2_15_4 { uart_rx.out_data_3_THRU_LUT4_0, uart_rx.out_data[3] }
ble_pack uart_rx.out_data_4_LC_2_15_6 { uart_rx.out_data_4_THRU_LUT4_0, uart_rx.out_data[4] }
clb_pack LT_2_15 { uart_rx.out_data_7_LC_2_15_0, uart_rx.out_data_6_LC_2_15_1, uart_rx.out_data_1_LC_2_15_2, uart_rx.out_data_3_LC_2_15_4, uart_rx.out_data_4_LC_2_15_6 }
set_location LT_2_15 2 15
ble_pack seven_seg.r_disp1_i_5_LC_2_16_2 { seven_seg.r_disp1_2_6_0_.r_disp1_2_i[5], seven_seg.r_disp1_i[5] }
ble_pack seven_seg.r_disp1_i_4_LC_2_16_5 { seven_seg.r_disp1_2_6_0_.r_disp1_2_i[4], seven_seg.r_disp1_i[4] }
clb_pack LT_2_16 { seven_seg.r_disp1_i_5_LC_2_16_2, seven_seg.r_disp1_i_4_LC_2_16_5 }
set_location LT_2_16 2 16
ble_pack CONSTANT_ONE_LUT4_LC_4_10_7 { CONSTANT_ONE_LUT4 }
clb_pack LT_4_10 { CONSTANT_ONE_LUT4_LC_4_10_7 }
set_location LT_4_10 4 10
ble_pack uart_tx.r_data_8_LC_4_11_0 { uart_tx.r_data_8_THRU_LUT4_0, uart_tx.r_data[8] }
ble_pack uart_tx.r_data_5_LC_4_11_4 { uart_tx.r_data_5_THRU_LUT4_0, uart_tx.r_data[5] }
ble_pack uart_tx.r_data_0_LC_4_11_5 { uart_tx.r_data_0_THRU_LUT4_0, uart_tx.r_data[0] }
clb_pack LT_4_11 { uart_tx.r_data_8_LC_4_11_0, uart_tx.r_data_5_LC_4_11_4, uart_tx.r_data_0_LC_4_11_5 }
set_location LT_4_11 4 11
ble_pack uart_tx.out_data_RNO_5_LC_4_12_1 { uart_tx.out_data_RNO_5 }
ble_pack uart_tx.out_data_RNO_3_LC_4_12_2 { uart_tx.out_data_RNO_3 }
ble_pack uart_tx.r_data_1_LC_4_12_3 { uart_tx.r_data_1_THRU_LUT4_0, uart_tx.r_data[1] }
ble_pack uart_tx.r_data_4_LC_4_12_4 { uart_tx.r_data_4_THRU_LUT4_0, uart_tx.r_data[4] }
ble_pack uart_tx.state_RNO_1_0_LC_4_12_6 { uart_tx.state_RNO_1[0] }
ble_pack uart_tx.index_RNIB641_1_LC_4_12_7 { uart_tx.index_RNIB641[1] }
clb_pack LT_4_12 { uart_tx.out_data_RNO_5_LC_4_12_1, uart_tx.out_data_RNO_3_LC_4_12_2, uart_tx.r_data_1_LC_4_12_3, uart_tx.r_data_4_LC_4_12_4, uart_tx.state_RNO_1_0_LC_4_12_6, uart_tx.index_RNIB641_1_LC_4_12_7 }
set_location LT_4_12 4 12
ble_pack r_uart_char_esr_0_LC_4_14_0 { r_uart_char_esr_0_THRU_LUT4_0, r_uart_char_esr[0] }
ble_pack r_uart_char_esr_1_LC_4_14_1 { r_uart_char_esr_1_THRU_LUT4_0, r_uart_char_esr[1] }
ble_pack r_uart_char_esr_2_LC_4_14_2 { r_uart_char_esr_2_THRU_LUT4_0, r_uart_char_esr[2] }
ble_pack r_uart_char_esr_4_LC_4_14_3 { r_uart_char_esr_4_THRU_LUT4_0, r_uart_char_esr[4] }
ble_pack r_uart_char_esr_5_LC_4_14_4 { r_uart_char_esr_5_THRU_LUT4_0, r_uart_char_esr[5] }
ble_pack r_uart_char_esr_6_LC_4_14_5 { r_uart_char_esr_6_THRU_LUT4_0, r_uart_char_esr[6] }
ble_pack r_uart_char_esr_7_LC_4_14_6 { r_uart_char_esr_7_THRU_LUT4_0, r_uart_char_esr[7] }
ble_pack r_uart_char_ess_3_LC_4_14_7 { r_uart_char_ess_3_THRU_LUT4_0, r_uart_char_ess[3] }
clb_pack LT_4_14 { r_uart_char_esr_0_LC_4_14_0, r_uart_char_esr_1_LC_4_14_1, r_uart_char_esr_2_LC_4_14_2, r_uart_char_esr_4_LC_4_14_3, r_uart_char_esr_5_LC_4_14_4, r_uart_char_esr_6_LC_4_14_5, r_uart_char_esr_7_LC_4_14_6, r_uart_char_ess_3_LC_4_14_7 }
set_location LT_4_14 4 14
ble_pack seven_seg.r_disp1_i_0_LC_4_15_1 { seven_seg.r_disp1_2_6_0_.m5, seven_seg.r_disp1_i[0] }
ble_pack seven_seg.r_disp1_i_3_LC_4_15_3 { seven_seg.r_disp1_2_6_0_.r_disp1_2_i[3], seven_seg.r_disp1_i[3] }
ble_pack seven_seg.r_disp1_i_2_LC_4_15_4 { seven_seg.r_disp1_2_6_0_.m14, seven_seg.r_disp1_i[2] }
clb_pack LT_4_15 { seven_seg.r_disp1_i_0_LC_4_15_1, seven_seg.r_disp1_i_3_LC_4_15_3, seven_seg.r_disp1_i_2_LC_4_15_4 }
set_location LT_4_15 4 15
ble_pack uart_tx.counter_RNI5L34_0_9_LC_5_9_0 { uart_tx.counter_RNI5L34_0[9] }
ble_pack uart_tx.counter_RNI9DPM1_1_LC_5_9_1 { uart_tx.counter_RNI9DPM1[1] }
ble_pack uart_tx.state_RNIT28M_0_LC_5_9_2 { uart_tx.state_RNIT28M[0] }
ble_pack uart_tx.counter_RNI1V9O_4_LC_5_9_3 { uart_tx.counter_RNI1V9O[4] }
ble_pack uart_tx.state_1_LC_5_9_4 { uart_tx.state_RNO[1], uart_tx.state[1] }
ble_pack uart_tx.state_RNO_0_0_LC_5_9_5 { uart_tx.state_RNO_0[0] }
ble_pack uart_tx.state_0_LC_5_9_6 { uart_tx.state_RNO[0], uart_tx.state[0] }
ble_pack uart_tx.counter_RNI6M34_0_1_LC_5_9_7 { uart_tx.counter_RNI6M34_0[1] }
clb_pack LT_5_9 { uart_tx.counter_RNI5L34_0_9_LC_5_9_0, uart_tx.counter_RNI9DPM1_1_LC_5_9_1, uart_tx.state_RNIT28M_0_LC_5_9_2, uart_tx.counter_RNI1V9O_4_LC_5_9_3, uart_tx.state_1_LC_5_9_4, uart_tx.state_RNO_0_0_LC_5_9_5, uart_tx.state_0_LC_5_9_6, uart_tx.counter_RNI6M34_0_1_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack uart_tx.counter_RNI5L34_9_LC_5_10_0 { uart_tx.counter_RNI5L34[9] }
ble_pack uart_tx.counter_RNI1V9O_0_4_LC_5_10_1 { uart_tx.counter_RNI1V9O_0[4] }
ble_pack uart_tx.state_RNIT28M_0_0_LC_5_10_2 { uart_tx.state_RNIT28M_0[0] }
ble_pack uart_tx.counter_RNI6M34_1_LC_5_10_3 { uart_tx.counter_RNI6M34[1] }
ble_pack uart_tx.counter_RNI6M34_1_1_LC_5_10_4 { uart_tx.counter_RNI6M34_1[1] }
ble_pack uart_tx.counter_RNIAI56_4_LC_5_10_5 { uart_tx.counter_RNIAI56[4] }
ble_pack uart_tx.state_RNICAH01_0_LC_5_10_6 { uart_tx.state_RNICAH01[0] }
ble_pack uart_rx_tvalid_LC_5_10_7 { uart_rx_tvalid_RNO, uart_rx_tvalid }
clb_pack LT_5_10 { uart_tx.counter_RNI5L34_9_LC_5_10_0, uart_tx.counter_RNI1V9O_0_4_LC_5_10_1, uart_tx.state_RNIT28M_0_0_LC_5_10_2, uart_tx.counter_RNI6M34_1_LC_5_10_3, uart_tx.counter_RNI6M34_1_1_LC_5_10_4, uart_tx.counter_RNIAI56_4_LC_5_10_5, uart_tx.state_RNICAH01_0_LC_5_10_6, uart_rx_tvalid_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack uart_tx.index_3_LC_5_11_0 { uart_tx.index_RNO[3], uart_tx.index[3] }
ble_pack uart_tx.index_1_LC_5_11_1 { uart_tx.index_RNO[1], uart_tx.index[1] }
ble_pack uart_tx.state_RNI562Q_0_LC_5_11_2 { uart_tx.state_RNI562Q[0] }
clb_pack LT_5_11 { uart_tx.index_3_LC_5_11_0, uart_tx.index_1_LC_5_11_1, uart_tx.state_RNI562Q_0_LC_5_11_2 }
set_location LT_5_11 5 11
ble_pack uart_tx.index_0_LC_5_12_2 { uart_tx.index_RNO[0], uart_tx.index[0] }
ble_pack uart_tx.index_2_LC_5_12_3 { uart_tx.index_RNO[2], uart_tx.index[2] }
ble_pack uart_tx.out_data_RNO_4_LC_5_12_4 { uart_tx.out_data_RNO_4 }
ble_pack uart_tx.out_data_RNO_2_LC_5_12_5 { uart_tx.out_data_RNO_2 }
ble_pack uart_tx.out_data_RNO_0_LC_5_12_6 { uart_tx.out_data_RNO_0 }
ble_pack uart_tx.out_data_LC_5_12_7 { uart_tx.out_data_RNO, uart_tx.out_data }
clb_pack LT_5_12 { uart_tx.index_0_LC_5_12_2, uart_tx.index_2_LC_5_12_3, uart_tx.out_data_RNO_4_LC_5_12_4, uart_tx.out_data_RNO_2_LC_5_12_5, uart_tx.out_data_RNO_0_LC_5_12_6, uart_tx.out_data_LC_5_12_7 }
set_location LT_5_12 5 12
ble_pack uart_tx.r_data_2_LC_5_13_0 { uart_tx.r_data_2_THRU_LUT4_0, uart_tx.r_data[2] }
ble_pack uart_tx.r_data_3_LC_5_13_1 { uart_tx.r_data_3_THRU_LUT4_0, uart_tx.r_data[3] }
ble_pack uart_tx.r_data_6_LC_5_13_2 { uart_tx.r_data_6_THRU_LUT4_0, uart_tx.r_data[6] }
ble_pack uart_tx.r_data_7_LC_5_13_3 { uart_tx.r_data_7_THRU_LUT4_0, uart_tx.r_data[7] }
clb_pack LT_5_13 { uart_tx.r_data_2_LC_5_13_0, uart_tx.r_data_3_LC_5_13_1, uart_tx.r_data_6_LC_5_13_2, uart_tx.r_data_7_LC_5_13_3 }
set_location LT_5_13 5 13
ble_pack uart_rx.out_data_5_LC_5_14_4 { uart_rx.out_data_5_THRU_LUT4_0, uart_rx.out_data[5] }
clb_pack LT_5_14 { uart_rx.out_data_5_LC_5_14_4 }
set_location LT_5_14 5 14
ble_pack seven_seg.r_disp2_i_2_LC_5_15_1 { seven_seg.r_disp2_2_6_0_.m14, seven_seg.r_disp2_i[2] }
ble_pack seven_seg.r_disp2_i_3_LC_5_15_3 { seven_seg.r_disp2_2_6_0_.r_disp2_2_i[3], seven_seg.r_disp2_i[3] }
ble_pack seven_seg.r_disp2_i_4_LC_5_15_7 { seven_seg.r_disp2_2_6_0_.r_disp2_2_i[4], seven_seg.r_disp2_i[4] }
clb_pack LT_5_15 { seven_seg.r_disp2_i_2_LC_5_15_1, seven_seg.r_disp2_i_3_LC_5_15_3, seven_seg.r_disp2_i_4_LC_5_15_7 }
set_location LT_5_15 5 15
ble_pack uart_tx.counter_0_LC_6_9_0 { uart_tx.counter_RNO[0], uart_tx.counter[0], uart_tx.un1_counter_5_cry_0_c }
ble_pack uart_tx.counter_1_LC_6_9_1 { uart_tx.counter_RNO[1], uart_tx.counter[1], uart_tx.un1_counter_5_cry_1_c }
ble_pack uart_tx.counter_2_LC_6_9_2 { uart_tx.counter_RNO[2], uart_tx.counter[2], uart_tx.un1_counter_5_cry_2_c }
ble_pack uart_tx.counter_3_LC_6_9_3 { uart_tx.counter_RNO[3], uart_tx.counter[3], uart_tx.un1_counter_5_cry_3_c }
ble_pack uart_tx.counter_4_LC_6_9_4 { uart_tx.counter_RNO[4], uart_tx.counter[4], uart_tx.un1_counter_5_cry_4_c }
ble_pack uart_tx.counter_5_LC_6_9_5 { uart_tx.counter_RNO[5], uart_tx.counter[5], uart_tx.un1_counter_5_cry_5_c }
ble_pack uart_tx.counter_6_LC_6_9_6 { uart_tx.counter_RNO[6], uart_tx.counter[6], uart_tx.un1_counter_5_cry_6_c }
ble_pack uart_tx.counter_7_LC_6_9_7 { uart_tx.counter_RNO[7], uart_tx.counter[7], uart_tx.un1_counter_5_cry_7_c }
clb_pack LT_6_9 { uart_tx.counter_0_LC_6_9_0, uart_tx.counter_1_LC_6_9_1, uart_tx.counter_2_LC_6_9_2, uart_tx.counter_3_LC_6_9_3, uart_tx.counter_4_LC_6_9_4, uart_tx.counter_5_LC_6_9_5, uart_tx.counter_6_LC_6_9_6, uart_tx.counter_7_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack uart_tx.counter_8_LC_6_10_0 { uart_tx.counter_RNO[8], uart_tx.counter[8], uart_tx.un1_counter_5_cry_8_c }
ble_pack uart_tx.counter_9_LC_6_10_1 { uart_tx.counter_RNO[9], uart_tx.counter[9] }
clb_pack LT_6_10 { uart_tx.counter_8_LC_6_10_0, uart_tx.counter_9_LC_6_10_1 }
set_location LT_6_10 6 10
ble_pack uart_tx.state_RNIBCLB1_1_LC_6_11_6 { uart_tx.state_RNIBCLB1[1] }
ble_pack uart_tx.tready_LC_6_11_7 { uart_tx.tready_RNO, uart_tx.tready }
clb_pack LT_6_11 { uart_tx.state_RNIBCLB1_1_LC_6_11_6, uart_tx.tready_LC_6_11_7 }
set_location LT_6_11 6 11
set_io o_Segment2_A 100
set_io o_Segment1_E 90
set_io o_UART_TX 74
set_io o_Segment2_D 95
set_io o_Segment1_F 1
set_io o_Segment1_B 4
set_io i_Clk 15
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io i_UART_RX 73
set_io i_Switch_1 53
set_io o_Segment2_F 8
set_io o_Segment2_B 99
set_io o_Segment1_D 91
set_io o_LED_1 56
set_io o_Segment2_E 94
set_io o_Segment1_A 3
