set_location IN_MUX_bfv_5_4_0_ 5 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_5_0_ 5 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_2_0_ 4 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_3_0_ 4 3 0 #ICE_CARRY_IN_MUX
set_location vga_controller.rst_sys_THRU_LUT4_0 5 3 1 #SB_LUT4
set_location vga_controller.v_counter[2] 5 2 1 #SB_DFF
set_location vga_controller.h_counter_RNI55831[5] 6 2 2 #SB_LUT4
set_location vga_controller.un4_h_counter_cry_7_c_RNINS1H 5 4 7 #SB_LUT4
set_location vga_controller.h_counter_fast[8] 5 3 5 #SB_DFF
set_location vga_controller.un1_v_counter_8_cry_0_c 4 2 0 #SB_CARRY
set_location vga_controller.rst_sys 5 3 1 #SB_DFF
set_location vga_controller.un4_h_counter_cry_8_c 5 4 7 #SB_CARRY
set_location vga_controller.un1_v_counter_8_cry_7_c 4 2 7 #SB_CARRY
set_location vga_controller.v_counter[6] 4 2 6 #SB_DFF
set_location vga_controller.un4_h_counter_cry_4_c_RNIHJUG 5 4 4 #SB_LUT4
set_location vga_controller.h_counter_fast[5] 6 4 2 #SB_DFF
set_location vga_controller.h_counter_RNO[7] 6 4 0 #SB_LUT4
set_location vga_controller.h_counter[2] 5 4 1 #SB_DFF
set_location vga_controller.h_counter_RNO[8] 6 3 2 #SB_LUT4
set_location vga_controller.v_counter[8] 4 3 0 #SB_DFF
set_location vga_controller.h_counter_RNICC491[9] 6 2 4 #SB_LUT4
set_location g_px[0] 6 2 0 #SB_DFF
set_location vga_controller.v_counter_RNO[0] 5 2 6 #SB_LUT4
set_location vga_controller.v_counter[1] 4 2 1 #SB_DFF
set_location vga_controller.un1_v_counter_8_cry_5_c 4 2 5 #SB_CARRY
set_location vga_controller.h_counter_RNI55CT[9] 6 3 0 #SB_LUT4
set_location vga_controller.h_counter[9] 5 5 0 #SB_DFF
set_location vga_controller.v_counter_RNO[9] 4 3 2 #SB_LUT4
set_location vga_controller.v_counter_RNO_0[0] 4 2 0 #SB_LUT4
set_location vga_controller.h_counter_RNO[3] 5 4 2 #SB_LUT4
set_location vga_controller.h_counter_RNIDRDU1[6] 5 3 4 #SB_LUT4
set_location vga_controller.h_counter_RNI66OB[4] 6 2 6 #SB_LUT4
set_location vga_controller.v_counter_RNILCKS[0] 4 1 5 #SB_LUT4
set_location b_px_RNO[0] 6 2 7 #SB_LUT4
set_location vga_controller.v_counter_RNO[7] 4 2 7 #SB_LUT4
set_location vga_controller.v_counter_RNIDI8C[0] 5 1 3 #SB_LUT4
set_location vga_controller.rst_sys_RNI61NB 5 3 0 #SB_LUT4
set_location vga_controller.h_counter_fast_RNO[7] 6 4 3 #SB_LUT4
set_location vga_controller.h_counter_RNI88OB[7] 7 4 4 #SB_LUT4
set_location vga_controller.v_counter[5] 4 2 5 #SB_DFF
set_location vga_controller.un1_v_counter_8_cry_4_c 4 2 4 #SB_CARRY
set_location vga_controller.h_counter_RNO[6] 5 4 5 #SB_LUT4
set_location vga_controller.h_counter[5] 6 4 7 #SB_DFF
set_location r_px[0] 7 3 3 #SB_DFFSR
set_location vga_controller.v_counter_RNITL58[2] 5 1 6 #SB_LUT4
set_location vga_controller.un4_h_counter_cry_2_c 5 4 1 #SB_CARRY
set_location vga_controller.h_counter_RNIUTFN[1] 5 3 7 #SB_LUT4
set_location vga_controller.h_counter_RNI56P93[8] 6 1 1 #SB_LUT4
set_location g_px_RNO[0] 6 2 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location vga_controller.v_counter_RNO[3] 5 2 3 #SB_LUT4
set_location vga_controller.v_counter[0] 5 2 6 #SB_DFF
set_location vga_controller.un4_h_counter_cry_3_c_RNIFGTG 5 4 3 #SB_LUT4
set_location vga_controller.h_counter_RNIK3RA4[6] 7 4 7 #SB_LUT4
set_location vga_controller.h_counter_RNI62MR1[4] 6 3 1 #SB_LUT4
set_location vga_controller.h_counter[8] 6 3 2 #SB_DFF
set_location vga_controller.v_counter_RNO[8] 4 3 0 #SB_LUT4
set_location vga_controller.v_counter_RNIS15I[7] 5 2 4 #SB_LUT4
set_location vga_controller.v_counter_RNI8VJS[1] 5 1 0 #SB_LUT4
set_location vga_controller.r1_rst_RNO 8 3 4 #SB_LUT4
set_location vga_controller.h_counter_RNO[2] 5 4 1 #SB_LUT4
set_location vga_controller.h_counter[1] 4 3 4 #SB_DFF
set_location vga_controller.un4_h_counter_cry_5_c 5 4 4 #SB_CARRY
set_location vga_controller.v_counter_RNO[6] 4 2 6 #SB_LUT4
set_location r_px_RNO[0] 7 3 3 #SB_LUT4
set_location vga_controller.v_counter[4] 4 2 4 #SB_DFF
set_location vga_controller.un1_v_counter_8_cry_1_c 4 2 1 #SB_CARRY
set_location vga_controller.h_counter_RNO[5] 6 4 7 #SB_LUT4
set_location vga_controller.h_counter_RNIUTFN_0[1] 5 3 3 #SB_LUT4
set_location vga_controller.h_counter[4] 7 4 1 #SB_DFF
set_location vga_controller.v_counter_RNIE0CG[6] 5 2 0 #SB_LUT4
set_location vga_controller.un4_h_counter_cry_7_c 5 4 6 #SB_CARRY
set_location vga_controller.h_counter_RNIB72A1[4] 7 4 6 #SB_LUT4
set_location vga_controller.v_counter_RNO[2] 5 2 1 #SB_LUT4
set_location vga_controller.v_counter_RNI558Q3[9] 7 1 3 #SB_LUT4
set_location vga_controller.h_counter_fast_RNO[4] 6 4 1 #SB_LUT4
set_location vga_controller.h_counter_RNIEEKH[8] 6 2 3 #SB_LUT4
set_location vga_controller.h_counter_RNIE57V[7] 6 3 4 #SB_LUT4
set_location vga_controller.v_counter_RNO_0[2] 4 2 2 #SB_LUT4
set_location vga_controller.v_counter_RNIC9PE1[4] 5 2 5 #SB_LUT4
set_location vga_controller.v_counter_RNI52T81[3] 4 1 6 #SB_LUT4
set_location vga_controller.h_counter_fast_RNIOA8Q[7] 6 4 5 #SB_LUT4
set_location vga_controller.h_counter_fast_RNI2PID[8] 6 3 5 #SB_LUT4
set_location vga_controller.h_counter_fast[7] 6 4 3 #SB_DFF
set_location vga_controller.h_counter_RNO[1] 4 3 4 #SB_LUT4
set_location vga_controller.h_counter[0] 4 3 6 #SB_DFF
set_location vga_controller.v_counter_RNO_0[9] 4 3 1 #SB_LUT4
set_location vga_controller.un4_h_counter_cry_6_c_RNILP0H 5 4 6 #SB_LUT4
set_location vga_controller.un4_h_counter_cry_6_c 5 4 5 #SB_CARRY
set_location vga_controller.un1_v_counter_8_cry_2_c 4 2 2 #SB_CARRY
set_location vga_controller.r1_rst 8 3 4 #SB_DFF
set_location vga_controller.h_counter_RNI77491[4] 5 3 2 #SB_LUT4
set_location b_px[0] 6 2 7 #SB_DFF
set_location vga_controller.v_counter[3] 5 2 3 #SB_DFF
set_location vga_controller.un4_h_counter_cry_1_c 5 4 0 #SB_CARRY
set_location vga_controller.h_counter_fast_RNO[8] 5 3 5 #SB_LUT4
set_location vga_controller.h_counter_fast_RNI2PID_0[8] 6 3 3 #SB_LUT4
set_location vga_controller.h_counter_RNO[4] 7 4 1 #SB_LUT4
set_location vga_controller.h_counter[7] 6 4 0 #SB_DFF
set_location vga_controller.h_counter_RNI0JGT1[8] 6 4 6 #SB_LUT4
set_location vga_controller.v_counter_RNIL4LI3[9] 6 1 3 #SB_LUT4
set_location vga_controller.un1_v_counter_8_cry_3_c 4 2 3 #SB_CARRY
set_location vga_controller.v_counter_RNO[5] 4 2 5 #SB_LUT4
set_location vga_controller.un1_v_counter_8_cry_8_c 4 3 0 #SB_CARRY
set_location vga_controller.h_counter_fast_RNO[5] 6 4 2 #SB_LUT4
set_location vga_controller.h_counter_RNIPPOQ1[9] 5 1 2 #SB_LUT4
set_location vga_controller.v_counter_RNO_0[3] 4 2 3 #SB_LUT4
set_location vga_controller.v_counter[7] 4 2 7 #SB_DFF
set_location vga_controller.un4_h_counter_cry_3_c 5 4 2 #SB_CARRY
set_location vga_controller.h_counter_fast[4] 6 4 1 #SB_DFF
set_location vga_controller.h_counter_RNO[0] 4 3 6 #SB_LUT4
set_location vga_controller.h_counter_RNIUTFN_1[1] 5 3 6 #SB_LUT4
set_location vga_controller.h_counter_RNILLOQ1[4] 6 2 5 #SB_LUT4
set_location vga_controller.h_counter[3] 5 4 2 #SB_DFF
set_location vga_controller.v_counter_RNIQ21P3[9] 6 1 5 #SB_LUT4
set_location vga_controller.h_counter_RNO[9] 5 5 0 #SB_LUT4
set_location vga_controller.h_counter_RNIE57V_0[7] 6 3 6 #SB_LUT4
set_location vga_controller.v_counter_RNI2KBG[6] 5 2 2 #SB_LUT4
set_location vga_controller.v_counter[9] 4 3 2 #SB_DFF
set_location vga_controller.h_counter_fast_RNI90FJ[7] 6 4 4 #SB_LUT4
set_location vga_controller.v_counter_RNO[1] 4 2 1 #SB_LUT4
set_location vga_controller.un4_h_counter_cry_4_c 5 4 3 #SB_CARRY
set_location vga_controller.un1_v_counter_8_cry_6_c 4 2 6 #SB_CARRY
set_location vga_controller.h_counter_fast_RNIRMHI[5] 7 4 5 #SB_LUT4
set_location vga_controller.h_counter[6] 5 4 5 #SB_DFF
set_location vga_controller.v_counter_RNIUM58[1] 5 2 7 #SB_LUT4
set_location vga_controller.v_counter_RNI4RRB3[9] 5 1 1 #SB_LUT4
set_location vga_controller.h_counter_RNI13BP4[7] 6 3 7 #SB_LUT4
set_location vga_controller.v_counter_RNO[4] 4 2 4 #SB_LUT4
set_io o_VGA_Red_1 37
set_io o_VGA_Grn_2 33
set_io i_Clk 15
set_io o_VGA_Red_2 40
set_io o_VGA_HSync 26
set_io o_VGA_Blu_0 28
set_io i_Switch_1 53
set_io o_VGA_VSync 27
set_io o_VGA_Grn_0 29
set_io o_VGA_Blu_1 41
set_io o_VGA_Red_0 36
set_io o_VGA_Grn_1 30
set_io o_VGA_Blu_2 42
