ble_pack asd.r_disp1_i_1_LC_1_12_7 { asd.r_disp1_2_6_0_.m10, asd.r_disp1_i[1] }
clb_pack LT_1_12 { asd.r_disp1_i_1_LC_1_12_7 }
set_location LT_1_12 1 12
ble_pack asd.timer_RNIU46E1_10_LC_1_13_0 { asd.timer_RNIU46E1[10] }
ble_pack asd.timer_0_LC_1_13_1 { asd.timer_RNO[0], asd.timer[0] }
ble_pack asd.timer_11_LC_1_13_2 { asd.timer_RNO[11], asd.timer[11] }
ble_pack asd.timer_12_LC_1_13_3 { asd.timer_RNO[12], asd.timer[12] }
ble_pack asd.timer_13_LC_1_13_4 { asd.timer_RNO[13], asd.timer[13] }
ble_pack asd.timer_14_LC_1_13_5 { asd.timer_RNO[14], asd.timer[14] }
ble_pack asd.timer_16_LC_1_13_6 { asd.timer_RNO[16], asd.timer[16] }
ble_pack asd.timer_18_LC_1_13_7 { asd.timer_RNO[18], asd.timer[18] }
clb_pack LT_1_13 { asd.timer_RNIU46E1_10_LC_1_13_0, asd.timer_0_LC_1_13_1, asd.timer_11_LC_1_13_2, asd.timer_12_LC_1_13_3, asd.timer_13_LC_1_13_4, asd.timer_14_LC_1_13_5, asd.timer_16_LC_1_13_6, asd.timer_18_LC_1_13_7 }
set_location LT_1_13 1 13
ble_pack asd.un5_timer_cry_1_c_LC_1_14_0 { asd.un5_timer_cry_1_c }
ble_pack asd.timer_2_LC_1_14_1 { asd.timer_RNO[2], asd.timer[2], asd.un5_timer_cry_2_c }
ble_pack asd.timer_3_LC_1_14_2 { asd.timer_RNO[3], asd.timer[3], asd.un5_timer_cry_3_c }
ble_pack asd.timer_4_LC_1_14_3 { asd.timer_RNO[4], asd.timer[4], asd.un5_timer_cry_4_c }
ble_pack asd.timer_5_LC_1_14_4 { asd.timer_RNO[5], asd.timer[5], asd.un5_timer_cry_5_c }
ble_pack asd.timer_RNO_0_6_LC_1_14_5 { asd.timer_RNO_0[6], asd.un5_timer_cry_6_c }
ble_pack asd.timer_7_LC_1_14_6 { asd.timer_RNO[7], asd.timer[7], asd.un5_timer_cry_7_c }
ble_pack asd.timer_8_LC_1_14_7 { asd.timer_RNO[8], asd.timer[8], asd.un5_timer_cry_8_c }
clb_pack LT_1_14 { asd.un5_timer_cry_1_c_LC_1_14_0, asd.timer_2_LC_1_14_1, asd.timer_3_LC_1_14_2, asd.timer_4_LC_1_14_3, asd.timer_5_LC_1_14_4, asd.timer_RNO_0_6_LC_1_14_5, asd.timer_7_LC_1_14_6, asd.timer_8_LC_1_14_7 }
set_location LT_1_14 1 14
ble_pack asd.timer_9_LC_1_15_0 { asd.timer_RNO[9], asd.timer[9], asd.un5_timer_cry_9_c }
ble_pack asd.timer_10_LC_1_15_1 { asd.timer_RNO[10], asd.timer[10], asd.un5_timer_cry_10_c }
ble_pack asd.timer_RNO_0_11_LC_1_15_2 { asd.timer_RNO_0[11], asd.un5_timer_cry_11_c }
ble_pack asd.timer_RNO_0_12_LC_1_15_3 { asd.timer_RNO_0[12], asd.un5_timer_cry_12_c }
ble_pack asd.timer_RNO_0_13_LC_1_15_4 { asd.timer_RNO_0[13], asd.un5_timer_cry_13_c }
ble_pack asd.timer_RNO_0_14_LC_1_15_5 { asd.timer_RNO_0[14], asd.un5_timer_cry_14_c }
ble_pack asd.timer_15_LC_1_15_6 { asd.timer_RNO[15], asd.timer[15], asd.un5_timer_cry_15_c }
ble_pack asd.timer_RNO_0_16_LC_1_15_7 { asd.timer_RNO_0[16], asd.un5_timer_cry_16_c }
clb_pack LT_1_15 { asd.timer_9_LC_1_15_0, asd.timer_10_LC_1_15_1, asd.timer_RNO_0_11_LC_1_15_2, asd.timer_RNO_0_12_LC_1_15_3, asd.timer_RNO_0_13_LC_1_15_4, asd.timer_RNO_0_14_LC_1_15_5, asd.timer_15_LC_1_15_6, asd.timer_RNO_0_16_LC_1_15_7 }
set_location LT_1_15 1 15
ble_pack asd.timer_17_LC_1_16_0 { asd.timer_RNO[17], asd.timer[17], asd.un5_timer_cry_17_c }
ble_pack asd.timer_RNO_0_18_LC_1_16_1 { asd.timer_RNO_0[18], asd.un5_timer_cry_18_c }
ble_pack asd.timer_RNO_0_19_LC_1_16_2 { asd.timer_RNO_0[19], asd.un5_timer_cry_19_c }
ble_pack asd.timer_RNO_0_20_LC_1_16_3 { asd.timer_RNO_0[20], asd.un5_timer_cry_20_c }
ble_pack asd.timer_RNO_0_21_LC_1_16_4 { asd.timer_RNO_0[21], asd.un5_timer_cry_21_c }
ble_pack asd.timer_RNO_0_22_LC_1_16_5 { asd.timer_RNO_0[22], asd.un5_timer_cry_22_c }
ble_pack asd.timer_23_LC_1_16_6 { asd.timer_RNO[23], asd.timer[23], asd.un5_timer_cry_23_c }
ble_pack asd.timer_RNO_0_24_LC_1_16_7 { asd.timer_RNO_0[24] }
clb_pack LT_1_16 { asd.timer_17_LC_1_16_0, asd.timer_RNO_0_18_LC_1_16_1, asd.timer_RNO_0_19_LC_1_16_2, asd.timer_RNO_0_20_LC_1_16_3, asd.timer_RNO_0_21_LC_1_16_4, asd.timer_RNO_0_22_LC_1_16_5, asd.timer_23_LC_1_16_6, asd.timer_RNO_0_24_LC_1_16_7 }
set_location LT_1_16 1 16
ble_pack asd.current_time_0_LC_2_12_0 { asd.current_time_RNO[0], asd.current_time[0] }
clb_pack LT_2_12 { asd.current_time_0_LC_2_12_0 }
set_location LT_2_12 2 12
ble_pack asd.current_time_RNIA9RB1_5_LC_2_13_0 { asd.current_time_RNIA9RB1[5] }
ble_pack asd.current_time_6_LC_2_13_1 { asd.current_time_RNO[6], asd.current_time[6] }
ble_pack asd.current_time_4_LC_2_13_2 { asd.current_time_RNO[4], asd.current_time[4] }
ble_pack asd.current_time_7_LC_2_13_3 { asd.current_time_RNO[7], asd.current_time[7] }
ble_pack asd.current_time_3_LC_2_13_4 { asd.current_time_RNO[3], asd.current_time[3] }
ble_pack asd.current_time_5_LC_2_13_5 { asd.current_time_RNO[5], asd.current_time[5] }
ble_pack asd.current_time_RNIF9FV7_0_LC_2_13_6 { asd.current_time_RNIF9FV7[0] }
ble_pack asd.current_time_1_LC_2_13_7 { asd.current_time_RNO[1], asd.current_time[1] }
clb_pack LT_2_13 { asd.current_time_RNIA9RB1_5_LC_2_13_0, asd.current_time_6_LC_2_13_1, asd.current_time_4_LC_2_13_2, asd.current_time_7_LC_2_13_3, asd.current_time_3_LC_2_13_4, asd.current_time_5_LC_2_13_5, asd.current_time_RNIF9FV7_0_LC_2_13_6, asd.current_time_1_LC_2_13_7 }
set_location LT_2_13 2 13
ble_pack asd.current_time_RNO_0_5_LC_2_14_0 { asd.current_time_RNO_0[5] }
ble_pack asd.current_time_2_LC_2_14_1 { asd.current_time_RNO[2], asd.current_time[2] }
ble_pack asd.current_time_RNI17HH_2_LC_2_14_2 { asd.current_time_RNI17HH[2] }
ble_pack asd.current_time_RNO_0_4_LC_2_14_3 { asd.current_time_RNO_0[4] }
ble_pack asd.timer_RNIRAC71_11_LC_2_14_4 { asd.timer_RNIRAC71[11] }
ble_pack asd.timer_RNI6AMT4_11_LC_2_14_5 { asd.timer_RNI6AMT4[11] }
ble_pack asd.timer_RNI5C6E1_15_LC_2_14_6 { asd.timer_RNI5C6E1[15] }
ble_pack asd.timer_RNIRVV31_14_LC_2_14_7 { asd.timer_RNIRVV31[14] }
clb_pack LT_2_14 { asd.current_time_RNO_0_5_LC_2_14_0, asd.current_time_2_LC_2_14_1, asd.current_time_RNI17HH_2_LC_2_14_2, asd.current_time_RNO_0_4_LC_2_14_3, asd.timer_RNIRAC71_11_LC_2_14_4, asd.timer_RNI6AMT4_11_LC_2_14_5, asd.timer_RNI5C6E1_15_LC_2_14_6, asd.timer_RNIRVV31_14_LC_2_14_7 }
set_location LT_2_14 2 14
ble_pack asd.timer_19_LC_2_15_0 { asd.timer_RNO[19], asd.timer[19] }
ble_pack asd.timer_RNO_0_1_LC_2_15_1 { asd.timer_RNO_0[1] }
ble_pack asd.timer_1_LC_2_15_2 { asd.timer_RNO[1], asd.timer[1] }
ble_pack asd.timer_20_LC_2_15_3 { asd.timer_RNO[20], asd.timer[20] }
ble_pack asd.timer_21_LC_2_15_4 { asd.timer_RNO[21], asd.timer[21] }
ble_pack asd.timer_22_LC_2_15_5 { asd.timer_RNO[22], asd.timer[22] }
ble_pack asd.timer_24_LC_2_15_6 { asd.timer_RNO[24], asd.timer[24] }
ble_pack asd.timer_6_LC_2_15_7 { asd.timer_RNO[6], asd.timer[6] }
clb_pack LT_2_15 { asd.timer_19_LC_2_15_0, asd.timer_RNO_0_1_LC_2_15_1, asd.timer_1_LC_2_15_2, asd.timer_20_LC_2_15_3, asd.timer_21_LC_2_15_4, asd.timer_22_LC_2_15_5, asd.timer_24_LC_2_15_6, asd.timer_6_LC_2_15_7 }
set_location LT_2_15 2 15
ble_pack asd.r_disp1_i_5_LC_2_16_0 { asd.r_disp1_2_6_0_.r_disp1_2_i[5], asd.r_disp1_i[5] }
ble_pack asd.r_disp2_i_6_LC_2_16_1 { asd.r_disp2_2_6_0_.m26, asd.r_disp2_i[6] }
ble_pack asd.r_disp2_i_0_LC_2_16_2 { asd.r_disp2_2_6_0_.m5, asd.r_disp2_i[0] }
ble_pack asd.r_disp1_i_4_LC_2_16_3 { asd.r_disp1_2_6_0_.r_disp1_2_i[4], asd.r_disp1_i[4] }
ble_pack asd.r_disp1_i_6_LC_2_16_4 { asd.r_disp1_2_6_0_.m26, asd.r_disp1_i[6] }
ble_pack asd.r_disp2_i_5_LC_2_16_5 { asd.r_disp2_2_6_0_.r_disp2_2_i[5], asd.r_disp2_i[5] }
ble_pack asd.timer_RNIBJ341_24_LC_2_16_6 { asd.timer_RNIBJ341[24] }
ble_pack asd.timer_RNIC8QA1_17_LC_2_16_7 { asd.timer_RNIC8QA1[17] }
clb_pack LT_2_16 { asd.r_disp1_i_5_LC_2_16_0, asd.r_disp2_i_6_LC_2_16_1, asd.r_disp2_i_0_LC_2_16_2, asd.r_disp1_i_4_LC_2_16_3, asd.r_disp1_i_6_LC_2_16_4, asd.r_disp2_i_5_LC_2_16_5, asd.timer_RNIBJ341_24_LC_2_16_6, asd.timer_RNIC8QA1_17_LC_2_16_7 }
set_location LT_2_16 2 16
ble_pack asd.r_disp2_i_1_LC_4_14_5 { asd.r_disp2_2_6_0_.m10, asd.r_disp2_i[1] }
clb_pack LT_4_14 { asd.r_disp2_i_1_LC_4_14_5 }
set_location LT_4_14 4 14
ble_pack asd.r_disp1_i_2_LC_4_16_1 { asd.r_disp1_2_6_0_.m14, asd.r_disp1_i[2] }
ble_pack asd.r_disp1_i_3_LC_4_16_4 { asd.r_disp1_2_6_0_.r_disp1_2_i[3], asd.r_disp1_i[3] }
ble_pack asd.r_disp1_i_0_LC_4_16_5 { asd.r_disp1_2_6_0_.m5, asd.r_disp1_i[0] }
clb_pack LT_4_16 { asd.r_disp1_i_2_LC_4_16_1, asd.r_disp1_i_3_LC_4_16_4, asd.r_disp1_i_0_LC_4_16_5 }
set_location LT_4_16 4 16
ble_pack asd.r_disp2_i_2_LC_5_16_0 { asd.r_disp2_2_6_0_.m14, asd.r_disp2_i[2] }
ble_pack asd.r_disp2_i_4_LC_5_16_2 { asd.r_disp2_2_6_0_.r_disp2_2_i[4], asd.r_disp2_i[4] }
ble_pack asd.r_disp2_i_3_LC_5_16_3 { asd.r_disp2_2_6_0_.r_disp2_2_i[3], asd.r_disp2_i[3] }
clb_pack LT_5_16 { asd.r_disp2_i_2_LC_5_16_0, asd.r_disp2_i_4_LC_5_16_2, asd.r_disp2_i_3_LC_5_16_3 }
set_location LT_5_16 5 16
set_location asd.N_100_g_gb 0 8
set_io o_Segment2_F 8
set_io o_Segment1_D 91
set_io o_LED_1 56
set_io o_Segment2_A 100
set_io o_Segment1_E 90
set_io o_Segment2_D 95
set_io o_Segment1_F 1
set_io o_Segment1_B 4
set_io o_LED_3 59
set_io i_Switch_4 52
set_io i_Clk 15
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io o_LED_2 57
set_io i_Switch_1 53
set_io o_Segment2_B 99
set_io i_Switch_2 51
set_io o_Segment2_E 94
set_io o_Segment1_A 3
set_io o_LED_4 60
set_io i_Switch_3 54
