set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location uart_rx.timer[5] 1 6 5 #SB_DFFSR
set_location uart_rx.state[2] 2 5 3 #SB_DFF
set_location uart_rx.un1_timer_cry_0_c 1 6 0 #SB_CARRY
set_location uart_rx.state_RNI6REA[4] 4 8 2 #SB_LUT4
set_location seven_seg.r_disp2_i[3] 2 9 4 #SB_DFF
set_location seven_seg.r_disp1_i[4] 4 10 0 #SB_DFF
set_location uart_rx.timer[0] 1 6 0 #SB_DFFSR
set_location uart_rx.timer_RNO[3] 1 6 3 #SB_LUT4
set_location uart_rx.timer_RNIUELT[0] 2 7 1 #SB_LUT4
set_location uart_rx.r_data_esr[4] 4 9 4 #SB_DFFESR
set_location seven_seg.r_disp2_2_6_0_.m14_0 4 8 1 #SB_LUT4
set_location uart_rx.un1_timer_cry_2_c 1 6 2 #SB_CARRY
set_location uart_rx.state_RNO_2[2] 1 5 1 #SB_LUT4
set_location uart_rx.state_RNO[2] 2 5 3 #SB_LUT4
set_location uart_rx.state_RNO_1[3] 2 5 1 #SB_LUT4
set_location uart_rx.r_data_esr_RNO[2] 4 9 3 #SB_LUT4
set_location uart_rx.index_RNI8VER_0[2] 5 8 5 #SB_LUT4
set_location seven_seg.r_disp2_i[6] 4 8 7 #SB_DFF
set_location uart_rx.state_iso[0] 2 6 7 #SB_DFF
set_location seven_seg.r_disp1_i[0] 4 10 3 #SB_DFF
set_location uart_rx.timer[4] 1 6 4 #SB_DFFSR
set_location uart_rx.state[5] 4 7 6 #SB_DFF
set_location uart_rx.r_data_esr[1] 4 9 1 #SB_DFFESR
set_location uart_rx.timer_RNO[7] 1 6 7 #SB_LUT4
set_location uart_rx.state_RNO[5] 4 7 6 #SB_LUT4
set_location uart_rx.r_data_esr_RNO[7] 4 9 7 #SB_LUT4
set_location uart_rx.index_RNO[0] 4 8 0 #SB_LUT4
set_location uart_rx.index_RNI8VER_2[2] 4 8 4 #SB_LUT4
set_location uart_rx.state_RNO_0[2] 2 7 6 #SB_LUT4
set_location uart_rx.state_RNIGHJ01[6] 2 7 7 #SB_LUT4
set_location seven_seg.r_disp2_i[2] 4 8 1 #SB_DFF
set_location seven_seg.r_disp1_i[5] 4 11 6 #SB_DFF
set_location uart_rx.timer_RNI2PPH[8] 2 7 5 #SB_LUT4
set_location uart_rx.timer[3] 1 6 3 #SB_DFFSR
set_location uart_rx.state_RNIK01M[5] 4 7 1 #SB_LUT4
set_location seven_seg.r_disp1_2_6_0_.N_11_i 4 10 4 #SB_LUT4
set_location uart_rx.timer_RNO[2] 1 6 2 #SB_LUT4
set_location uart_rx.timer[8] 1 7 0 #SB_DFFSR
set_location uart_rx.state[1] 2 6 4 #SB_DFF
set_location uart_rx.r_data_esr[5] 4 9 5 #SB_DFFESR
set_location uart_rx.state_RNO_2[3] 2 5 0 #SB_LUT4
set_location uart_rx.state_RNO_1[2] 2 5 2 #SB_LUT4
set_location uart_rx.state_RNO[1] 2 6 4 #SB_LUT4
set_location uart_rx.r_data_esr_RNO[3] 4 9 0 #SB_LUT4
set_location uart_rx.index[2] 4 7 2 #SB_DFF
set_location seven_seg.r_disp2_i[5] 2 9 3 #SB_DFF
set_location seven_seg.r_disp1_i[1] 4 10 4 #SB_DFF
set_location uart_rx.timer[7] 1 6 7 #SB_DFFSR
set_location uart_rx.state[4] 2 4 2 #SB_DFF
set_location uart_rx.r_data_esr[2] 4 9 3 #SB_DFFESR
set_location uart_rx.timer_RNO[6] 1 6 6 #SB_LUT4
set_location uart_rx.state_RNO[4] 2 4 2 #SB_LUT4
set_location uart_rx.state_RNISTIG[3] 2 6 2 #SB_LUT4
set_location uart_rx.state_RNIS2KG1[2] 2 5 5 #SB_LUT4
set_location uart_rx.r_data_esr_RNO[4] 4 9 4 #SB_LUT4
set_location uart_rx.index_RNO[1] 4 8 3 #SB_LUT4
set_location seven_seg.r_disp1_2_6_0_.m23_i 4 11 6 #SB_LUT4
set_location seven_seg.r_disp1_2_6_0_.m14_0 4 11 2 #SB_LUT4
set_location uart_rx.state_RNO_0[3] 2 6 5 #SB_LUT4
set_location seven_seg.r_disp2_i[1] 2 9 5 #SB_DFF
set_location seven_seg.r_disp1_i[6] 4 10 6 #SB_DFF
set_location uart_rx.un1_timer_cry_1_c 1 6 1 #SB_CARRY
set_location uart_rx.timer[2] 1 6 2 #SB_DFFSR
set_location uart_rx.timer_RNO[1] 1 6 1 #SB_LUT4
set_location uart_rx.state[0] 2 6 1 #SB_DFF
set_location uart_rx.r_data_esr[6] 4 9 6 #SB_DFFESR
set_location uart_rx.state_RNO[0] 2 6 1 #SB_LUT4
set_location uart_rx.r_data_esr_RNO[0] 4 9 2 #SB_LUT4
set_location uart_rx.index[3] 5 7 0 #SB_DFFSR
set_location seven_seg.r_disp2_i[4] 2 9 1 #SB_DFF
set_location seven_seg.r_disp1_i[2] 4 11 2 #SB_DFF
set_location seven_seg.r_disp1_2_6_0_.m26_0 4 10 6 #SB_LUT4
set_location uart_rx.un1_timer_cry_3_c 1 6 3 #SB_CARRY
set_location uart_rx.timer_RNI2MNN[2] 2 5 4 #SB_LUT4
set_location uart_rx.timer[6] 1 6 6 #SB_DFFSR
set_location uart_rx.r_data_esr[3] 4 9 0 #SB_DFFESR
set_location uart_rx.un1_timer_cry_4_c 1 6 4 #SB_CARRY
set_location uart_rx.timer_RNO[5] 1 6 5 #SB_LUT4
set_location uart_rx.r_data_esr_RNO[5] 4 9 5 #SB_LUT4
set_location uart_rx.index_RNO[2] 4 7 2 #SB_LUT4
set_location seven_seg.r_disp2_i[0] 2 9 7 #SB_DFF
set_location seven_seg.r_disp1_2_6_0_.m17_i 4 10 5 #SB_LUT4
set_location uart_rx.timer_RNO[0] 1 6 0 #SB_LUT4
set_location uart_rx.state[3] 2 6 6 #SB_DFF
set_location uart_rx.r_data_esr[7] 4 9 7 #SB_DFFESR
set_location uart_rx.index_RNI8VER[2] 5 8 0 #SB_LUT4
set_location uart_rx.un1_timer_cry_5_c 1 6 5 #SB_CARRY
set_location uart_rx.r_data_esr_RNO[1] 4 9 1 #SB_LUT4
set_location uart_rx.index[0] 4 8 0 #SB_DFF
set_location seven_seg.r_disp2_2_6_0_.N_21_i 2 9 5 #SB_LUT4
set_location seven_seg.r_disp1_2_6_0_.r_disp1_2_i[4] 4 10 0 #SB_LUT4
set_location uart_rx.timer_RNI2MNN[8] 2 7 0 #SB_LUT4
set_location uart_rx.state_iso_RNO[0] 2 6 7 #SB_LUT4
set_location uart_rx.state_RNO_0[4] 2 5 7 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.m5_0 2 9 7 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.m17_i 2 9 4 #SB_LUT4
set_location seven_seg.r_disp1_i[3] 4 10 5 #SB_DFF
set_location uart_rx.timer[1] 1 6 1 #SB_DFFSR
set_location uart_rx.state_RNIQRIG[2] 2 6 0 #SB_LUT4
set_location uart_rx.state[6] 4 7 0 #SB_DFF
set_location seven_seg.r_disp1_2_6_0_.m5_0 4 10 3 #SB_LUT4
set_location uart_rx.timer_RNO[4] 1 6 4 #SB_LUT4
set_location uart_rx.index_RNO[3] 5 7 0 #SB_LUT4
set_location uart_rx.index_RNI8VER_1[2] 4 8 5 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.m26_0 4 8 7 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.m23_i 2 9 3 #SB_LUT4
set_location uart_rx.un1_timer_cry_7_c 1 6 7 #SB_CARRY
set_location uart_rx.state_RNO[3] 2 6 6 #SB_LUT4
set_location uart_rx.state_RNO_1[4] 2 4 1 #SB_LUT4
set_location uart_rx.state_RNO_0[1] 2 6 3 #SB_LUT4
set_location uart_rx.index_RNIA1FR[3] 5 8 3 #SB_LUT4
set_location uart_rx.index_RNIA1FR_0[3] 4 8 6 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.r_disp2_2_i[4] 2 9 1 #SB_LUT4
set_location uart_rx.r_data_esr[0] 4 9 2 #SB_DFFESR
set_location uart_rx.timer_RNO[8] 1 7 0 #SB_LUT4
set_location uart_rx.state_RNO[6] 4 7 0 #SB_LUT4
set_location uart_rx.state_RNIFN942[4] 2 5 6 #SB_LUT4
set_location uart_rx.r_data_esr_RNO[6] 4 9 6 #SB_LUT4
set_location uart_rx.index[1] 4 8 3 #SB_DFF
set_location uart_rx.un1_timer_cry_6_c 1 6 6 #SB_CARRY
set_location uart_rx.index_RNIA1FR_1[3] 4 7 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_io o_Segment2_A 15
set_io o_Segment1_E 8
set_io o_Segment2_D 19
set_io o_Segment1_F 9
set_io o_Segment1_B 3
set_io i_Clk 13
set_io o_Segment2_G 21
set_io o_Segment2_C 18
set_io o_Segment1_G 10
set_io o_Segment1_C 4
set_io i_UART_RX 25
set_io i_Switch_1 24
set_io o_Segment2_F 12
set_io o_Segment2_B 16
set_io o_Segment1_D 7
set_io o_Segment2_E 20
set_io o_Segment1_A 2
