ble_pack uart_rx.index_2_LC_1_9_0 { uart_rx.index_RNO[2], uart_rx.index[2] }
ble_pack uart_rx.index_1_LC_1_9_2 { uart_rx.index_RNO[1], uart_rx.index[1] }
ble_pack uart_rx.index_3_LC_1_9_3 { uart_rx.index_RNO[3], uart_rx.index[3] }
clb_pack LT_1_9 { uart_rx.index_2_LC_1_9_0, uart_rx.index_1_LC_1_9_2, uart_rx.index_3_LC_1_9_3 }
set_location LT_1_9 1 9
ble_pack uart_rx.state_RNI8GO31_0_4_LC_1_10_0 { uart_rx.state_RNI8GO31_0[4] }
ble_pack uart_rx.r_data_RNO_0_5_LC_1_10_1 { uart_rx.r_data_RNO_0[5] }
ble_pack uart_rx.index_RNIA1FR_0_3_LC_1_10_2 { uart_rx.index_RNIA1FR_0[3] }
ble_pack uart_rx.index_RNO_0_3_LC_1_10_3 { uart_rx.index_RNO_0[3] }
ble_pack uart_rx.state_RNI8GO31_1_4_LC_1_10_4 { uart_rx.state_RNI8GO31_1[4] }
ble_pack uart_rx.state_RNI8GO31_4_LC_1_10_5 { uart_rx.state_RNI8GO31[4] }
ble_pack uart_rx.index_RNIA1FR_3_LC_1_10_6 { uart_rx.index_RNIA1FR[3] }
ble_pack uart_rx.r_data_esr_RNO_0_7_LC_1_10_7 { uart_rx.r_data_esr_RNO_0[7] }
clb_pack LT_1_10 { uart_rx.state_RNI8GO31_0_4_LC_1_10_0, uart_rx.r_data_RNO_0_5_LC_1_10_1, uart_rx.index_RNIA1FR_0_3_LC_1_10_2, uart_rx.index_RNO_0_3_LC_1_10_3, uart_rx.state_RNI8GO31_1_4_LC_1_10_4, uart_rx.state_RNI8GO31_4_LC_1_10_5, uart_rx.index_RNIA1FR_3_LC_1_10_6, uart_rx.r_data_esr_RNO_0_7_LC_1_10_7 }
set_location LT_1_10 1 10
ble_pack uart_rx.r_data_1_LC_1_11_0 { uart_rx.r_data_RNO[1], uart_rx.r_data[1] }
ble_pack uart_rx.r_data_3_LC_1_11_1 { uart_rx.r_data_RNO[3], uart_rx.r_data[3] }
ble_pack uart_rx.r_data_2_LC_1_11_2 { uart_rx.r_data_RNO[2], uart_rx.r_data[2] }
ble_pack uart_rx.r_data_0_LC_1_11_3 { uart_rx.r_data_RNO[0], uart_rx.r_data[0] }
ble_pack uart_rx.r_data_6_LC_1_11_4 { uart_rx.r_data_RNO[6], uart_rx.r_data[6] }
ble_pack uart_rx.r_data_5_LC_1_11_6 { uart_rx.r_data_RNO[5], uart_rx.r_data[5] }
ble_pack uart_rx.r_data_4_LC_1_11_7 { uart_rx.r_data_RNO[4], uart_rx.r_data[4] }
clb_pack LT_1_11 { uart_rx.r_data_1_LC_1_11_0, uart_rx.r_data_3_LC_1_11_1, uart_rx.r_data_2_LC_1_11_2, uart_rx.r_data_0_LC_1_11_3, uart_rx.r_data_6_LC_1_11_4, uart_rx.r_data_5_LC_1_11_6, uart_rx.r_data_4_LC_1_11_7 }
set_location LT_1_11 1 11
ble_pack uart_rx.out_data_2_LC_1_13_1 { uart_rx.out_data_2_THRU_LUT4_0, uart_rx.out_data[2] }
ble_pack uart_rx.out_data_3_LC_1_13_2 { uart_rx.out_data_3_THRU_LUT4_0, uart_rx.out_data[3] }
clb_pack LT_1_13 { uart_rx.out_data_2_LC_1_13_1, uart_rx.out_data_3_LC_1_13_2 }
set_location LT_1_13 1 13
ble_pack uart_rx.out_data_6_LC_1_14_0 { uart_rx.out_data_6_THRU_LUT4_0, uart_rx.out_data[6] }
ble_pack uart_rx.out_data_4_LC_1_14_1 { uart_rx.out_data_4_THRU_LUT4_0, uart_rx.out_data[4] }
ble_pack uart_rx.out_data_1_LC_1_14_2 { uart_rx.out_data_1_THRU_LUT4_0, uart_rx.out_data[1] }
ble_pack uart_rx.out_data_5_LC_1_14_5 { uart_rx.out_data_5_THRU_LUT4_0, uart_rx.out_data[5] }
ble_pack uart_rx.out_data_7_LC_1_14_6 { uart_rx.out_data_7_THRU_LUT4_0, uart_rx.out_data[7] }
ble_pack uart_rx.out_data_0_LC_1_14_7 { uart_rx.out_data_0_THRU_LUT4_0, uart_rx.out_data[0] }
clb_pack LT_1_14 { uart_rx.out_data_6_LC_1_14_0, uart_rx.out_data_4_LC_1_14_1, uart_rx.out_data_1_LC_1_14_2, uart_rx.out_data_5_LC_1_14_5, uart_rx.out_data_7_LC_1_14_6, uart_rx.out_data_0_LC_1_14_7 }
set_location LT_1_14 1 14
ble_pack seven_seg.r_disp2_i_6_LC_1_15_3 { seven_seg.r_disp2_2_6_0_.m26, seven_seg.r_disp2_i[6] }
ble_pack seven_seg.r_disp2_i_2_LC_1_15_6 { seven_seg.r_disp2_2_6_0_.m14, seven_seg.r_disp2_i[2] }
clb_pack LT_1_15 { seven_seg.r_disp2_i_6_LC_1_15_3, seven_seg.r_disp2_i_2_LC_1_15_6 }
set_location LT_1_15 1 15
ble_pack uart_rx.index_0_LC_2_9_1 { uart_rx.index_RNO[0], uart_rx.index[0] }
clb_pack LT_2_9 { uart_rx.index_0_LC_2_9_1 }
set_location LT_2_9 2 9
ble_pack uart_rx.state_RNIFE0G_4_LC_2_10_1 { uart_rx.state_RNIFE0G[4] }
ble_pack uart_rx.state_5_LC_2_10_2 { uart_rx.state_RNO[5], uart_rx.state[5] }
ble_pack uart_rx.state_RNO_1_4_LC_2_10_3 { uart_rx.state_RNO_1[4] }
ble_pack uart_rx.state_4_LC_2_10_4 { uart_rx.state_RNO[4], uart_rx.state[4] }
ble_pack uart_rx.state_6_LC_2_10_6 { uart_rx.state_RNO[6], uart_rx.state[6] }
clb_pack LT_2_10 { uart_rx.state_RNIFE0G_4_LC_2_10_1, uart_rx.state_5_LC_2_10_2, uart_rx.state_RNO_1_4_LC_2_10_3, uart_rx.state_4_LC_2_10_4, uart_rx.state_6_LC_2_10_6 }
set_location LT_2_10 2 10
ble_pack uart_rx.r_data_esr_RNO_7_LC_2_11_7 { uart_rx.r_data_esr_RNO[7] }
clb_pack LT_2_11 { uart_rx.r_data_esr_RNO_7_LC_2_11_7 }
set_location LT_2_11 2 11
ble_pack uart_rx.r_data_esr_7_LC_2_12_2 { uart_rx.r_data_esr_7_THRU_LUT4_0, uart_rx.r_data_esr[7] }
clb_pack LT_2_12 { uart_rx.r_data_esr_7_LC_2_12_2 }
set_location LT_2_12 2 12
ble_pack seven_seg.r_disp1_i_5_LC_2_13_0 { seven_seg.r_disp1_2_6_0_.r_disp1_2_i[5], seven_seg.r_disp1_i[5] }
ble_pack uart_rx.r_valid_RNIIKQG_LC_2_13_3 { uart_rx.r_valid_RNIIKQG }
ble_pack seven_seg.r_disp1_i_6_LC_2_13_4 { seven_seg.r_disp1_2_6_0_.m26, seven_seg.r_disp1_i[6] }
ble_pack uart_rx.r_valid_LC_2_13_6 { uart_rx.r_valid_RNO, uart_rx.r_valid }
clb_pack LT_2_13 { seven_seg.r_disp1_i_5_LC_2_13_0, uart_rx.r_valid_RNIIKQG_LC_2_13_3, seven_seg.r_disp1_i_6_LC_2_13_4, uart_rx.r_valid_LC_2_13_6 }
set_location LT_2_13 2 13
ble_pack seven_seg.r_disp1_i_0_LC_2_14_2 { seven_seg.r_disp1_2_6_0_.m5, seven_seg.r_disp1_i[0] }
ble_pack seven_seg.r_disp1_i_1_LC_2_14_3 { seven_seg.r_disp1_2_6_0_.m10, seven_seg.r_disp1_i[1] }
ble_pack seven_seg.r_disp2_i_1_LC_2_14_5 { seven_seg.r_disp2_2_6_0_.m10, seven_seg.r_disp2_i[1] }
clb_pack LT_2_14 { seven_seg.r_disp1_i_0_LC_2_14_2, seven_seg.r_disp1_i_1_LC_2_14_3, seven_seg.r_disp2_i_1_LC_2_14_5 }
set_location LT_2_14 2 14
ble_pack seven_seg.r_disp2_i_0_LC_2_15_1 { seven_seg.r_disp2_2_6_0_.m5, seven_seg.r_disp2_i[0] }
ble_pack seven_seg.r_disp2_i_3_LC_2_15_2 { seven_seg.r_disp2_2_6_0_.r_disp2_2_i[3], seven_seg.r_disp2_i[3] }
ble_pack seven_seg.r_disp1_i_2_LC_2_15_3 { seven_seg.r_disp1_2_6_0_.m14, seven_seg.r_disp1_i[2] }
ble_pack seven_seg.r_disp2_i_5_LC_2_15_5 { seven_seg.r_disp2_2_6_0_.r_disp2_2_i[5], seven_seg.r_disp2_i[5] }
ble_pack seven_seg.r_disp2_i_4_LC_2_15_6 { seven_seg.r_disp2_2_6_0_.r_disp2_2_i[4], seven_seg.r_disp2_i[4] }
clb_pack LT_2_15 { seven_seg.r_disp2_i_0_LC_2_15_1, seven_seg.r_disp2_i_3_LC_2_15_2, seven_seg.r_disp1_i_2_LC_2_15_3, seven_seg.r_disp2_i_5_LC_2_15_5, seven_seg.r_disp2_i_4_LC_2_15_6 }
set_location LT_2_15 2 15
ble_pack seven_seg.r_disp1_i_4_LC_2_16_2 { seven_seg.r_disp1_2_6_0_.r_disp1_2_i[4], seven_seg.r_disp1_i[4] }
ble_pack seven_seg.r_disp1_i_3_LC_2_16_4 { seven_seg.r_disp1_2_6_0_.r_disp1_2_i[3], seven_seg.r_disp1_i[3] }
clb_pack LT_2_16 { seven_seg.r_disp1_i_4_LC_2_16_2, seven_seg.r_disp1_i_3_LC_2_16_4 }
set_location LT_2_16 2 16
ble_pack uart_rx.state_RNO_1_3_LC_4_10_0 { uart_rx.state_RNO_1[3] }
ble_pack uart_rx.state_3_LC_4_10_1 { uart_rx.state_RNO[3], uart_rx.state[3] }
ble_pack uart_rx.state_RNO_0_4_LC_4_10_2 { uart_rx.state_RNO_0[4] }
ble_pack uart_rx.state_RNO_0_3_LC_4_10_3 { uart_rx.state_RNO_0[3] }
ble_pack uart_rx.timer_RNIOEPH_0_LC_4_10_4 { uart_rx.timer_RNIOEPH[0] }
ble_pack uart_rx.state_RNI1KSO_6_LC_4_10_5 { uart_rx.state_RNI1KSO[6] }
ble_pack uart_rx.state_RNII4VR_3_LC_4_10_6 { uart_rx.state_RNII4VR[3] }
ble_pack uart_rx.state_RNIGJ841_2_LC_4_10_7 { uart_rx.state_RNIGJ841[2] }
clb_pack LT_4_10 { uart_rx.state_RNO_1_3_LC_4_10_0, uart_rx.state_3_LC_4_10_1, uart_rx.state_RNO_0_4_LC_4_10_2, uart_rx.state_RNO_0_3_LC_4_10_3, uart_rx.timer_RNIOEPH_0_LC_4_10_4, uart_rx.state_RNI1KSO_6_LC_4_10_5, uart_rx.state_RNII4VR_3_LC_4_10_6, uart_rx.state_RNIGJ841_2_LC_4_10_7 }
set_location LT_4_10 4 10
ble_pack uart_rx.state_RNO_2_3_LC_4_11_6 { uart_rx.state_RNO_2[3] }
clb_pack LT_4_11 { uart_rx.state_RNO_2_3_LC_4_11_6 }
set_location LT_4_11 4 11
ble_pack uart_rx.timer_RNIUKPH_0_LC_5_9_0 { uart_rx.timer_RNIUKPH[0] }
ble_pack uart_rx.state_RNISTU51_1_LC_5_9_1 { uart_rx.state_RNISTU51[1] }
ble_pack uart_rx.state_RNIQ0062_1_LC_5_9_2 { uart_rx.state_RNIQ0062[1] }
ble_pack uart_rx.state_iso_0_LC_5_9_3 { uart_rx.state_iso_RNO[0], uart_rx.state_iso[0] }
ble_pack uart_rx.state_0_LC_5_9_6 { uart_rx.state_RNO[0], uart_rx.state[0] }
ble_pack uart_rx.state_RNISTIG_1_LC_5_9_7 { uart_rx.state_RNISTIG[1] }
clb_pack LT_5_9 { uart_rx.timer_RNIUKPH_0_LC_5_9_0, uart_rx.state_RNISTU51_1_LC_5_9_1, uart_rx.state_RNIQ0062_1_LC_5_9_2, uart_rx.state_iso_0_LC_5_9_3, uart_rx.state_0_LC_5_9_6, uart_rx.state_RNISTIG_1_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack uart_rx.timer_0_LC_5_10_0 { uart_rx.timer_RNO[0], uart_rx.timer[0], uart_rx.un1_timer_cry_0_c }
ble_pack uart_rx.timer_1_LC_5_10_1 { uart_rx.timer_RNO[1], uart_rx.timer[1], uart_rx.un1_timer_cry_1_c }
ble_pack uart_rx.timer_2_LC_5_10_2 { uart_rx.timer_RNO[2], uart_rx.timer[2], uart_rx.un1_timer_cry_2_c }
ble_pack uart_rx.timer_3_LC_5_10_3 { uart_rx.timer_RNO[3], uart_rx.timer[3], uart_rx.un1_timer_cry_3_c }
ble_pack uart_rx.timer_4_LC_5_10_4 { uart_rx.timer_RNO[4], uart_rx.timer[4], uart_rx.un1_timer_cry_4_c }
ble_pack uart_rx.timer_5_LC_5_10_5 { uart_rx.timer_RNO[5], uart_rx.timer[5], uart_rx.un1_timer_cry_5_c }
ble_pack uart_rx.timer_6_LC_5_10_6 { uart_rx.timer_RNO[6], uart_rx.timer[6], uart_rx.un1_timer_cry_6_c }
ble_pack uart_rx.timer_7_LC_5_10_7 { uart_rx.timer_RNO[7], uart_rx.timer[7], uart_rx.un1_timer_cry_7_c }
clb_pack LT_5_10 { uart_rx.timer_0_LC_5_10_0, uart_rx.timer_1_LC_5_10_1, uart_rx.timer_2_LC_5_10_2, uart_rx.timer_3_LC_5_10_3, uart_rx.timer_4_LC_5_10_4, uart_rx.timer_5_LC_5_10_5, uart_rx.timer_6_LC_5_10_6, uart_rx.timer_7_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack uart_rx.timer_8_LC_5_11_0 { uart_rx.timer_RNO[8], uart_rx.timer[8] }
clb_pack LT_5_11 { uart_rx.timer_8_LC_5_11_0 }
set_location LT_5_11 5 11
ble_pack uart_rx.state_RNO_0_1_LC_6_9_7 { uart_rx.state_RNO_0[1] }
clb_pack LT_6_9 { uart_rx.state_RNO_0_1_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack uart_rx.state_RNO_1_2_LC_6_10_0 { uart_rx.state_RNO_1[2] }
ble_pack uart_rx.state_2_LC_6_10_1 { uart_rx.state_RNO[2], uart_rx.state[2] }
ble_pack uart_rx.state_RNO_2_1_LC_6_10_2 { uart_rx.state_RNO_2[1] }
ble_pack uart_rx.state_RNO_1_1_LC_6_10_3 { uart_rx.state_RNO_1[1] }
ble_pack uart_rx.state_1_LC_6_10_4 { uart_rx.state_RNO[1], uart_rx.state[1] }
ble_pack uart_rx.state_RNIQRIG_2_LC_6_10_5 { uart_rx.state_RNIQRIG[2] }
ble_pack uart_rx.state_RNO_3_1_LC_6_10_6 { uart_rx.state_RNO_3[1] }
ble_pack uart_rx.timer_RNI1LNN_1_LC_6_10_7 { uart_rx.timer_RNI1LNN[1] }
clb_pack LT_6_10 { uart_rx.state_RNO_1_2_LC_6_10_0, uart_rx.state_2_LC_6_10_1, uart_rx.state_RNO_2_1_LC_6_10_2, uart_rx.state_RNO_1_1_LC_6_10_3, uart_rx.state_1_LC_6_10_4, uart_rx.state_RNIQRIG_2_LC_6_10_5, uart_rx.state_RNO_3_1_LC_6_10_6, uart_rx.timer_RNI1LNN_1_LC_6_10_7 }
set_location LT_6_10 6 10
ble_pack uart_rx.state_RNO_2_2_LC_6_11_1 { uart_rx.state_RNO_2[2] }
ble_pack uart_rx.state_RNO_0_2_LC_6_11_2 { uart_rx.state_RNO_0[2] }
clb_pack LT_6_11 { uart_rx.state_RNO_2_2_LC_6_11_1, uart_rx.state_RNO_0_2_LC_6_11_2 }
set_location LT_6_11 6 11
set_io o_Segment2_A 100
set_io o_Segment1_E 90
set_io o_Segment2_D 95
set_io o_Segment1_F 1
set_io o_Segment1_B 4
set_io i_Clk 15
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io i_UART_RX 73
set_io i_Switch_1 53
set_io o_Segment2_F 8
set_io o_Segment2_B 99
set_io o_Segment1_D 91
set_io o_LED_1 56
set_io o_Segment2_E 94
set_io o_Segment1_A 3
