set_location IN_MUX_bfv_5_10_0_ 5 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_11_0_ 5 11 0 #ICE_CARRY_IN_MUX
set_location uart_rx.r_data_esr_7_THRU_LUT4_0 2 12 2 #SB_LUT4
set_location uart_rx.out_data_7_THRU_LUT4_0 1 14 6 #SB_LUT4
set_location uart_rx.out_data_6_THRU_LUT4_0 1 14 0 #SB_LUT4
set_location uart_rx.out_data_5_THRU_LUT4_0 1 14 5 #SB_LUT4
set_location uart_rx.out_data_4_THRU_LUT4_0 1 14 1 #SB_LUT4
set_location uart_rx.out_data_3_THRU_LUT4_0 1 13 2 #SB_LUT4
set_location uart_rx.out_data_2_THRU_LUT4_0 1 13 1 #SB_LUT4
set_location uart_rx.out_data_1_THRU_LUT4_0 1 14 2 #SB_LUT4
set_location uart_rx.out_data_0_THRU_LUT4_0 1 14 7 #SB_LUT4
set_location uart_rx.r_valid_RNO 2 13 6 #SB_LUT4
set_location uart_rx.out_data[4] 1 14 1 #SB_DFFE
set_location uart_rx.timer_RNO[4] 5 10 4 #SB_LUT4
set_location uart_rx.state_RNISTU51[1] 5 9 1 #SB_LUT4
set_location uart_rx.un1_timer_cry_7_c 5 10 7 #SB_CARRY
set_location uart_rx.state_RNO_1[4] 2 10 3 #SB_LUT4
set_location uart_rx.r_data[1] 1 11 0 #SB_DFFSR
set_location uart_rx.out_data[3] 1 13 2 #SB_DFFE
set_location uart_rx.index_RNIA1FR[3] 1 10 6 #SB_LUT4
set_location uart_rx.timer[5] 5 10 5 #SB_DFFSR
set_location uart_rx.state[2] 6 10 1 #SB_DFF
set_location uart_rx.un1_timer_cry_0_c 5 10 0 #SB_CARRY
set_location uart_rx.timer_RNIUKPH[0] 5 9 0 #SB_LUT4
set_location uart_rx.r_data[4] 1 11 7 #SB_DFFSR
set_location seven_seg.r_disp1_2_6_0_.r_disp1_2_i[5] 2 13 0 #SB_LUT4
set_location seven_seg.r_disp1_2_6_0_.m10 2 14 3 #SB_LUT4
set_location seven_seg.r_disp2_i[3] 2 15 2 #SB_DFF
set_location seven_seg.r_disp1_i[4] 2 16 2 #SB_DFF
set_location uart_rx.timer[0] 5 10 0 #SB_DFFSR
set_location uart_rx.timer_RNO[3] 5 10 3 #SB_LUT4
set_location uart_rx.state_RNII4VR[3] 4 10 6 #SB_LUT4
set_location uart_rx.un1_timer_cry_2_c 5 10 2 #SB_CARRY
set_location uart_rx.state_RNO_2[2] 6 11 1 #SB_LUT4
set_location uart_rx.state_RNO[2] 6 10 1 #SB_LUT4
set_location uart_rx.state_RNO_1[3] 4 10 0 #SB_LUT4
set_location uart_rx.r_data_RNO[2] 1 11 2 #SB_LUT4
set_location uart_rx.r_data[0] 1 11 3 #SB_DFFSR
set_location uart_rx.out_data[2] 1 13 1 #SB_DFFE
set_location seven_seg.r_disp2_i[6] 1 15 3 #SB_DFF
set_location seven_seg.r_disp1_2_6_0_.m14 2 15 3 #SB_LUT4
set_location uart_rx.state_iso[0] 5 9 3 #SB_DFF
set_location uart_rx.state_RNIQ0062[1] 5 9 2 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.r_disp2_2_i[5] 2 15 5 #SB_LUT4
set_location seven_seg.r_disp1_i[0] 2 14 2 #SB_DFF
set_location uart_rx.timer_RNIOEPH[0] 4 10 4 #SB_LUT4
set_location uart_rx.timer[4] 5 10 4 #SB_DFFSR
set_location uart_rx.state[5] 2 10 2 #SB_DFF
set_location uart_rx.timer_RNO[7] 5 10 7 #SB_LUT4
set_location uart_rx.state_RNO[5] 2 10 2 #SB_LUT4
set_location uart_rx.r_valid_RNIIKQG 2 13 3 #SB_LUT4
set_location uart_rx.r_data_esr_RNO[7] 2 11 7 #SB_LUT4
set_location uart_rx.index_RNO[0] 2 9 1 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.m5 2 15 1 #SB_LUT4
set_location uart_rx.state_RNO_3[1] 6 10 6 #SB_LUT4
set_location uart_rx.state_RNO_0[2] 6 11 2 #SB_LUT4
set_location uart_rx.r_data_RNO[6] 1 11 4 #SB_LUT4
set_location uart_rx.out_data[6] 1 14 0 #SB_DFFE
set_location seven_seg.r_disp2_i[2] 1 15 6 #SB_DFF
set_location seven_seg.r_disp1_i[5] 2 13 0 #SB_DFF
set_location uart_rx.timer[3] 5 10 3 #SB_DFFSR
set_location uart_rx.timer_RNO[2] 5 10 2 #SB_LUT4
set_location uart_rx.timer_RNI1LNN[1] 6 10 7 #SB_LUT4
set_location uart_rx.timer[8] 5 11 0 #SB_DFFSR
set_location uart_rx.state[1] 6 10 4 #SB_DFF
set_location uart_rx.state_RNO_2[3] 4 11 6 #SB_LUT4
set_location uart_rx.state_RNO_1[2] 6 10 0 #SB_LUT4
set_location uart_rx.state_RNO[1] 6 10 4 #SB_LUT4
set_location uart_rx.index[2] 1 9 0 #SB_DFFSR
set_location seven_seg.r_disp2_i[5] 2 15 5 #SB_DFF
set_location seven_seg.r_disp2_2_6_0_.m26 1 15 3 #SB_LUT4
set_location seven_seg.r_disp1_2_6_0_.m5 2 14 2 #SB_LUT4
set_location seven_seg.r_disp1_i[1] 2 14 3 #SB_DFF
set_location uart_rx.timer[7] 5 10 7 #SB_DFFSR
set_location uart_rx.state[4] 2 10 4 #SB_DFF
set_location uart_rx.timer_RNO[6] 5 10 6 #SB_LUT4
set_location uart_rx.state_RNO[4] 2 10 4 #SB_LUT4
set_location uart_rx.state_RNI8GO31[4] 1 10 5 #SB_LUT4
set_location uart_rx.index_RNO[1] 1 9 2 #SB_LUT4
set_location uart_rx.index_RNO_0[3] 1 10 3 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.m10 2 14 5 #SB_LUT4
set_location uart_rx.state_RNO_0[3] 4 10 3 #SB_LUT4
set_location uart_rx.r_data_RNO[1] 1 11 0 #SB_LUT4
set_location uart_rx.r_data[3] 1 11 1 #SB_DFFSR
set_location uart_rx.out_data[1] 1 14 2 #SB_DFFE
set_location seven_seg.r_disp2_i[1] 2 14 5 #SB_DFF
set_location seven_seg.r_disp1_i[6] 2 13 4 #SB_DFF
set_location seven_seg.r_disp1_2_6_0_.m26 2 13 4 #SB_LUT4
set_location uart_rx.un1_timer_cry_1_c 5 10 1 #SB_CARRY
set_location uart_rx.timer[2] 5 10 2 #SB_DFFSR
set_location uart_rx.timer_RNO[1] 5 10 1 #SB_LUT4
set_location uart_rx.state[0] 5 9 6 #SB_DFF
set_location uart_rx.state_RNO_1[1] 6 10 3 #SB_LUT4
set_location uart_rx.state_RNO[0] 5 9 6 #SB_LUT4
set_location uart_rx.r_data[6] 1 11 4 #SB_DFFSR
set_location uart_rx.index[3] 1 9 3 #SB_DFFSR
set_location seven_seg.r_disp2_i[4] 2 15 6 #SB_DFF
set_location seven_seg.r_disp2_2_6_0_.m14 1 15 6 #SB_LUT4
set_location seven_seg.r_disp1_2_6_0_.r_disp1_2_i[3] 2 16 4 #SB_LUT4
set_location uart_rx.state_RNI1KSO[6] 4 10 5 #SB_LUT4
set_location uart_rx.r_data_RNO[5] 1 11 6 #SB_LUT4
set_location uart_rx.out_data[5] 1 14 5 #SB_DFFE
set_location seven_seg.r_disp2_2_6_0_.r_disp2_2_i[3] 2 15 2 #SB_LUT4
set_location seven_seg.r_disp1_i[2] 2 15 3 #SB_DFF
set_location uart_rx.un1_timer_cry_3_c 5 10 3 #SB_CARRY
set_location uart_rx.timer[6] 5 10 6 #SB_DFFSR
set_location uart_rx.un1_timer_cry_4_c 5 10 4 #SB_CARRY
set_location uart_rx.timer_RNO[5] 5 10 5 #SB_LUT4
set_location uart_rx.state_RNI8GO31_1[4] 1 10 4 #SB_LUT4
set_location uart_rx.index_RNO[2] 1 9 0 #SB_LUT4
set_location uart_rx.r_valid 2 13 6 #SB_DFF
set_location uart_rx.r_data_RNO[0] 1 11 3 #SB_LUT4
set_location uart_rx.r_data[2] 1 11 2 #SB_DFFSR
set_location uart_rx.out_data[0] 1 14 7 #SB_DFFE
set_location seven_seg.r_disp2_i[0] 2 15 1 #SB_DFF
set_location uart_rx.state_RNIGJ841[2] 4 10 7 #SB_LUT4
set_location uart_rx.state_RNI8GO31_0[4] 1 10 0 #SB_LUT4
set_location uart_rx.r_data_RNO_0[5] 1 10 1 #SB_LUT4
set_location uart_rx.timer_RNO[0] 5 10 0 #SB_LUT4
set_location uart_rx.state[3] 4 10 1 #SB_DFF
set_location uart_rx.r_data_esr[7] 2 12 2 #SB_DFFESR
set_location uart_rx.un1_timer_cry_5_c 5 10 5 #SB_CARRY
set_location uart_rx.r_data[5] 1 11 6 #SB_DFFSR
set_location uart_rx.index[0] 2 9 1 #SB_DFFSR
set_location seven_seg.r_disp1_2_6_0_.r_disp1_2_i[4] 2 16 2 #SB_LUT4
set_location uart_rx.state_iso_RNO[0] 5 9 3 #SB_LUT4
set_location uart_rx.state_RNO_0[4] 4 10 2 #SB_LUT4
set_location uart_rx.r_data_RNO[4] 1 11 7 #SB_LUT4
set_location seven_seg.r_disp1_i[3] 2 16 4 #SB_DFF
set_location uart_rx.timer[1] 5 10 1 #SB_DFFSR
set_location uart_rx.state_RNIQRIG[2] 6 10 5 #SB_LUT4
set_location uart_rx.state[6] 2 10 6 #SB_DFF
set_location uart_rx.index_RNO[3] 1 9 3 #SB_LUT4
set_location uart_rx.state_RNO[3] 4 10 1 #SB_LUT4
set_location uart_rx.state_RNO_2[1] 6 10 2 #SB_LUT4
set_location uart_rx.state_RNO_0[1] 6 9 7 #SB_LUT4
set_location uart_rx.r_data_RNO[3] 1 11 1 #SB_LUT4
set_location uart_rx.index_RNIA1FR_0[3] 1 10 2 #SB_LUT4
set_location seven_seg.r_disp2_2_6_0_.r_disp2_2_i[4] 2 15 6 #SB_LUT4
set_location uart_rx.timer_RNO[8] 5 11 0 #SB_LUT4
set_location uart_rx.state_RNO[6] 2 10 6 #SB_LUT4
set_location uart_rx.state_RNISTIG[1] 5 9 7 #SB_LUT4
set_location uart_rx.state_RNIFE0G[4] 2 10 1 #SB_LUT4
set_location uart_rx.r_data_esr_RNO_0[7] 1 10 7 #SB_LUT4
set_location uart_rx.index[1] 1 9 2 #SB_DFFSR
set_location uart_rx.un1_timer_cry_6_c 5 10 6 #SB_CARRY
set_location uart_rx.out_data[7] 1 14 6 #SB_DFFE
set_location GND -1 -1 -1 #GND
set_io o_Segment2_A 100
set_io o_Segment1_E 90
set_io o_Segment2_D 95
set_io o_Segment1_F 1
set_io o_Segment1_B 4
set_io i_Clk 15
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io i_UART_RX 73
set_io i_Switch_1 53
set_io o_Segment2_F 8
set_io o_Segment2_B 99
set_io o_Segment1_D 91
set_io o_LED_1 56
set_io o_Segment2_E 94
set_io o_Segment1_A 3
