set_location IN_MUX_bfv_8_5_0_ 8 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_6_0_ 8 6 0 #ICE_CARRY_IN_MUX
set_location uart_tx.state_RNIT28M_0[0] 9 7 7 #SB_LUT4
set_location uart_tx.counter[3] 8 5 3 #SB_DFFSR
set_location uart_tx.index[1] 9 8 3 #SB_DFFSR
set_location uart_tx.counter_RNI6M34[1] 9 5 3 #SB_LUT4
set_location uart_tx.un1_counter_5_cry_8_c 8 6 0 #SB_CARRY
set_location uart_tx.index_RNO[1] 9 8 3 #SB_LUT4
set_location uart_tx.un1_counter_5_cry_7_c 8 5 7 #SB_CARRY
set_location uart_tx.r_data_RNO[0] 9 7 5 #SB_LUT4
set_location uart_tx.index_RNIQG82[3] 9 7 6 #SB_LUT4
set_location uart_tx.counter_RNO[9] 8 6 1 #SB_LUT4
set_location uart_tx.counter_RNI1V9O_0[4] 9 7 0 #SB_LUT4
set_location uart_tx.counter[8] 8 6 0 #SB_DFFSR
set_location uart_tx.tready 9 6 4 #SB_DFF
set_location uart_tx.state[0] 9 6 1 #SB_DFF
set_location uart_tx.index_RNO[3] 9 8 6 #SB_LUT4
set_location uart_tx.counter_RNO[0] 8 5 0 #SB_LUT4
set_location uart_tx.counter[6] 8 5 6 #SB_DFFSR
set_location uart_tx.un1_counter_5_cry_5_c 8 5 5 #SB_CARRY
set_location uart_tx.un1_counter_5_cry_4_c 8 5 4 #SB_CARRY
set_location uart_tx.counter_RNO[2] 8 5 2 #SB_LUT4
set_location uart_tx.state_RNIT28M[0] 9 5 2 #SB_LUT4
set_location uart_tx.counter_RNI6M34_0[1] 9 6 7 #SB_LUT4
set_location uart_tx.counter[4] 8 5 4 #SB_DFFSR
set_location uart_tx.state_RNO[1] 9 6 3 #SB_LUT4
set_location uart_tx.out_data 9 7 4 #SB_DFF
set_location uart_tx.index[2] 9 8 7 #SB_DFFSR
set_location uart_tx.counter_RNO[4] 8 5 4 #SB_LUT4
set_location uart_tx.state_RNIBCLB1[1] 9 7 1 #SB_LUT4
set_location uart_tx.r_data[0] 9 7 5 #SB_DFF
set_location uart_tx.out_data_RNO_0 9 7 3 #SB_LUT4
set_location uart_tx.counter_RNI1V9O[4] 9 5 4 #SB_LUT4
set_location uart_tx.counter[2] 8 5 2 #SB_DFFSR
set_location uart_tx.state_RNICAH01[0] 9 5 7 #SB_LUT4
set_location uart_tx.index[0] 8 7 7 #SB_DFFSR
set_location uart_tx.counter_RNO[6] 8 5 6 #SB_LUT4
set_location uart_tx.counter[9] 8 6 1 #SB_DFFSR
set_location uart_tx.index_RNO[0] 8 7 7 #SB_LUT4
set_location uart_tx.counter_RNO[1] 8 5 1 #SB_LUT4
set_location uart_tx.counter_RNIAI56[1] 9 5 6 #SB_LUT4
set_location uart_tx.counter_RNI8S23[2] 9 5 5 #SB_LUT4
set_location uart_tx.counter[0] 8 5 0 #SB_DFFSR
set_location uart_tx.un1_counter_5_cry_3_c 8 5 3 #SB_CARRY
set_location uart_tx.un1_counter_5_cry_2_c 8 5 2 #SB_CARRY
set_location uart_tx.tready_RNO 9 6 4 #SB_LUT4
set_location uart_tx.counter_RNO[8] 8 6 0 #SB_LUT4
set_location uart_tx.counter_RNI9DPM1[1] 9 5 1 #SB_LUT4
set_location uart_tx.counter[7] 8 5 7 #SB_DFFSR
set_location uart_tx.un1_counter_5_cry_6_c 8 5 6 #SB_CARRY
set_location uart_tx.state[1] 9 6 3 #SB_DFF
set_location uart_tx.index_RNO[2] 9 8 7 #SB_LUT4
set_location uart_tx.counter_RNO[3] 8 5 3 #SB_LUT4
set_location uart_tx.counter_RNI5L34_0[9] 9 5 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uart_tx.counter_RNI5L34[9] 9 6 2 #SB_LUT4
set_location uart_tx.counter[5] 8 5 5 #SB_DFFSR
set_location uart_tx.un1_counter_5_cry_1_c 8 5 1 #SB_CARRY
set_location uart_tx.un1_counter_5_cry_0_c 8 5 0 #SB_CARRY
set_location uart_tx.state_RNO[0] 9 6 1 #SB_LUT4
set_location uart_tx.out_data_RNO 9 7 4 #SB_LUT4
set_location uart_tx.index[3] 9 8 6 #SB_DFFSR
set_location uart_tx.counter_RNO[5] 8 5 5 #SB_LUT4
set_location uart_tx.state_RNO_0[0] 9 6 0 #SB_LUT4
set_location uart_tx.counter_RNO[7] 8 5 7 #SB_LUT4
set_location uart_tx.out_data_RNO_1 9 7 2 #SB_LUT4
set_location uart_tx.index_RNIB641[1] 8 8 3 #SB_LUT4
set_location uart_tx.counter[1] 8 5 1 #SB_DFFSR
set_io o_UART_TX 74
set_io o_LED_1 56
set_io i_Switch_1 53
set_io i_Clk 15
